<h1>Listing pins</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

<tbody>
  <%= render @pins %>3
  <!-- This is pulling in _pin.html.erb from app/views/pins -->
  <!-- @pins references the global variable @pins, as defined in app/controllers/pins_controller.rb -->
</tbody>
</table>

<br />

<%= link_to 'New Pin', new_pin_path %>
