<div class="clientHeader Chiquita">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 ">
				<img src="/logos/chiquita.png" class="img-responsive" alt="Responsive image"></img>
				<!-- <h1>Chiquita Apple Trapper</h1> -->
				<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
			</div> <!--Header info -->
		</div> <!-- Row -->
	</div> <!-- Container -->
</div> <!-- ClientHeader -->

<!-- PROJECT-->

<div class="container">
	<div class="row">
	    <div class="col-sm-6 col-lg-4">
	    	<div class="col-xs-12">
			    <h3><i class="fa fa-briefcase detail-icon"></i>The Project</h3>
				<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras mattis consectetur purus sit amet fermentum.</p>
			</div> <!-- Detail -->
	    </div> <!-- Detail column -->

<!-- RESULTS -->

	    <div class="col-sm-6 col-lg-4">
	    	<div class="col-xs-12">
			    <h3><i class="fa fa-trophy detail-icon"></i>The Results</h3>
				<p>Cras mattis consectetur purus sit amet fermentum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
			</div> <!-- Detail -->
	    </div> <!-- Detail column -->

<!-- ROLE -->

	    <div class="col-sm-6 col-lg-4">
	    	<div class="col-xs-12">
			    <h3><i class="fa fa-user detail-icon"></i>My Role</h3>
				<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
			</div> <!-- Detail -->
	    </div> <!-- Detail column -->
	</div> <!-- Row -->
</div> <!-- Container -->