<div class="row-fluid">
	<div class="span4 offset4">
		<div class="circle-logo">
			<p id="circle-text-construction" class="visible-desktop">Hey you on your desktop...this site is under construction!</p>
			<p id="circle-text-construction" class="visible-tablet">Hey you on your tablet...this site is under construction!</p>
			<p id="circle-text-construction" class="visible-phone">Hey you on your phone...this site is under construction!</p>
		</div>
	</div>
</div>