<div class="container">
	<div class="span12 text-center">
		<h1>Class Assignments</h1>
		<a href="week1">
			Week1 
		</a> <br>
		<a href="week2">
			Week2 
		</a> <br>
		<a href="week3">
			Week3 
		</a> <br>
		<a href="week4">
			Week4 
		</a> <br>
		<a href="week5">
			Week5 
		</a> <br>
		<a href="week6">
			Week6 
		</a> <br>
		<a href="week7">
			Week7 
		</a> <br>
		<a href="week8">
			Week8 
		</a> <br>
	</div>
</div>
