<div class="row">
    <div class="col-sm-12 NavRow">
      <a href="/work" class="NavItem NavWork" id="WorkFill"><span>WORK</span></a>
      <a href="/play" class="NavItem NavPlay" id="PlayFill"><span>PLAY</span></a>
      <a href="http://blog.bimschleger.com" class="NavItem NavBlog" id="BlogFill"><span>BLOG</span></a>
  </div>
</div>

<div class="row-fluid">
	<div class="col-sm-8 sol-sm-offset-2">
		<h1 class="PageTitle">WELCOME</h1>
	</div>
</div>

<div class="row space">
	<div class="col-sm-6 col-sm-offset-3 PageDetail">
		I'm Brian Bimschleger, a tech-loving, Patriots-following, brand-building human, with a history in user experince, client service, and project management. Pretty unique blend, right? Check out the pages above to learn more.
	</div>
</div>

<div class="row space visible-phone">
	<a href="mailto:brian@bimschelger.com">
		<div class="col-sm-4 col-sm-offset-4 CTA"><p>Get in touch</p></div>
	</a>
</div>

<!-- <div class="row hidden-phone" style="margin-top:125px;">
      <div class="span3"><a href="/work" class="NavItem HomeWork"><span>WORK</span></a></div>
      <div class="span3"><a href="/play" class="NavItem HomePlay"><span>PLAY</span></a></div>
      <div class="span3"><a href="/work" class="NavItem HomeBlog"><span>BLOG</span></a></div>
      <div class="span3"><a href="mailto:brian@bimschelger.com" class="NavItem HomeContact"><span>CONTACT</span></a></div>
</div> -->

<footer class="hidden-desktop hidden-tablet hidden-phone">