<div class="row">
	<div class="span8offset2">
		<h1>WELCOME</h1>
	</div>
</div>

<div class="row">
	<div class="span8offset2">
		<p>Bacon ipsum dolor sit amet pork fatback jowl, beef ribs kevin chicken ham meatloaf spare ribs chuck bacon. Sirloin cow ribeye meatball, ham swine shankle pig corned beef. Meatball pork loin pork chop andouille bresaola ribeye.</p>
	</div>
</div>

<div class="row">
	<div class="span4offset4 CTA" id="home">
		<p>Get in touch</p>
	</div>
</div>
<div class="row">
	<div class="span4offset4 homeblock" id="homework">
		<p>Get in touch</p>
	</div>
</div>
<div class="row">
	<!-- <div class="span4 HomeBlock" id="Home-Work">
		<a href="/work">WORK</a>
	</div> -->
	<div class="span4offset4 homeblock" id="homework">
		<p><a href="/work">WORK</a></p>
	</div>

	<a href="/play">
		<div class="span4 HomeBlock" id="Home-Play">
			<p>PLAY</p>
		</div>
	</a>
	<a href="http://blog.bimschleger.com">
		<div class="span4 HomeBlock" id="Home-Blog">
			<p>Blog</p>
		</div>
	</a>
</div>