<!-- Navigation -->

<div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 NavRow">
    	<div class="col-xs-4 col-sm-4 CTA-row"><a href="/work" class="NavItem NavWork" id="WorkFill"><span>WORK</span></a></div>
    	<div class="col-xs-4 col-sm-4 CTA-row"><a href="/play" class="NavItem NavPlay" id="PlayFill"><span>PLAY</span></a></div>
    	<div class="col-xs-4 col-sm-4 CTA-row"><a href="http://blog.bimschleger.com" class="NavItem NavBlog" id="BlogFill"><span>BLOG</span></a></div>
  </div>
</div>

<!-- Page Title -->

<div class="row">
	<div class="col-sm-4 col-sm-offset-4">
		<h1 class="PageTitle">WELCOME</h1>
	</div>
</div>

<!-- Description -->

<div class="row space">
	<div class="col-sm-6 col-sm-offset-3 PageDetail">
		I'm Brian Bimschleger, a tech-loving, Patriots-following, brand-building human, with a history in user experince, client service, and project management. Pretty unique blend, right? Check out the pages above to learn more.
	</div>
</div>

<!-- Homeblocks -->

<div class="row space">
	<div class="col-sm-4" style="margin-bottom: 5px;"><div style="background-color: #FF6666; padding: 5% 0 5% 0; text-align: center; color: #FFFFFF;">test1</div></div>
	<div class="col-sm-4" style="margin-bottom: 5px;"><div style="background-color: #66CCFF; padding: 5% 0 5% 0; text-align: center; color: #FFFFFF;">test2</div></div>
	<div class="col-sm-4" style="margin-bottom: 5px;"><div style="background-color: #FFCC66; padding: 5% 0 5% 0; text-align: center; color: #FFFFFF;">test3</div></div>
</div>

<!-- CTA Button row -->

<div class="row space">
	<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
		<div class="row">
			<div class="col-xs-4 col-sm-4 CTA-row"><a href="http://www.twitter.com/bimschleger"><i class="fa fa-twitter fa-lg cta cta-twitter"></i></a></div>
			<div class="col-xs-4 col-sm-4 CTA-row"><a href="http://www.linkedin.com/in/brianbimschleger"><i class="fa fa-linkedin fa-lg cta cta-linkedin"></i></a></div>
			<div class="col-xs-4 col-sm-4 CTA-row"><a href="mailto:brian@bimschleger.com?subject=I saw your site, and I'd like to chat"><i class="fa fa-envelope fa-lg cta cta-envelope"></i></a></div>
		</div>
	</div>
</div>

<footer class="hidden-desktop hidden-tablet hidden-phone">