<div class="row">
    <div class="span8 offset2 NavRow">
      <a href="/work" class="NavItem" id="WorkFill"><span>WORK</span></a>
      <a href="/play" class="NavItem" id="PlayFill"><span>PLAY</span></a>
      <a href="http://blog.bimschleger.com" class="NavItem" id="BlogFill"><span>BLOG</span></a>
  </div>
</div>

<div class="row-fluid">
	<div class="span8 offset2">
		<h1 class="PageHead">WELCOME</h1>
	</div>
</div>

<div class="row-fluid space">
	<div class="span6 offset3 PageDescription">
		Bacon ipsum dolor sit amet pork fatback jowl, beef ribs kevin chicken ham meatloaf spare ribs chuck bacon. Sirloin cow ribeye meatball, ham swine shankle pig corned beef. Meatball pork loin pork chop andouille bresaola ribeye.
	</div>
</div>

<div class="row space">
	<a href="mailto:brian@bimschelger.com">
			<div class="span4 offset4 CTA">
			<p>Get in touch</p>
		</div>
	</a>
</div>
<!-- 
<div class="row space">
	<a href="/work">
		<div class="span4 HomeWork ">
			<p>WORK</p>
		</div>
	</a>
	<a href="/play">
		<div class="span4 HomePlay ">
			<p>PLAY</p>
		</div>
	</a>
	<a href="http://blog.bimschelger.com">
		<div class="span4 HomeBlog ">
			<p>BLOG</p>
		</div>
	</a>
</div>
 -->
 