<% if user_signed_in? %>
	<!-- Conditional text to show a user when logged in. -->
    <h1>You're logged in!</h1>
<% else %>
	<!-- This makes the tex appear massive -->
	<div class="hero-unit">
		<h1>Welcome to One Month Rails!</h1>
		<p>
			You found the homepage for the
			<%= link_to "One Month Rails", "http://onemonthrails.com" %>
			application.
		</p>

		<p>
			<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
			<!-- This is the button. Additional button styles can be found here: http://twitter.github.com/bootstrap/base-css.html#buttons -->
		</p>
	</div>
<% end %>
<!-- Always make sure to include this!!! -->