<div class="row">
	<div class="span4 offset4">
		<div class="circle-logo">
			<p id="circle-text-desk" class="visible-desktop">desktop</p>
			<p id="circle-text-tablet" class="visible-tablet">tablet</p>
			<p id="circle-text-phone" class="visible-phone">mobile</p>
		</div>
	</div>
	<div>
		<p class="span4 offset4" style="text-align: center;">
			Curabitur blandit tempus porttitor. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
		</p>
	</div>
</div>

<div class="row">
	<div class="span4 ">
		<div class="test">
			<a href="/sample">
				<div class="logo" id="modea-logo">
					<img src="/clients/Modea/logo.png" />
				</div>
			</a>
		</div>
		<p class="logo-detail">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla.</p>
	</div>

	<div class="span4">
		<div class="test">
			<a href="/sample">
				<div class="logo" id="chiquita-logo-home">
					<img src="/clients/Chiquita/logo.png" />
				</div>
			</a>
		</div>
		<p class="logo-detail">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla.</p>
	</div>

	<div class="span4">
		<div class="test">
			<a href="/sample">
				<div class="logo" id="avocados-logo">
					<img src="/clients/ChiquitaAvocados/logo.png" />
				</div>
			</a>
		</div>
		<p class="logo-detail">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla.</p>
	</div>	
</div>

<div class="row">
	<div class="span4">
		<div class="test">
			<a href="/sample">
				<div class="logo" id="prudential-logo">
					<img src="/clients/Prudential/logo.png" />
				</div>
			</a>
		</div>
		<p class="logo-detail">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla.</p>
	</div>

	<div class="span4">
		<div class="test">
			<a href="/sample">
				<div class="logo" id="smashbox-logo">
					<img src="/clients/Smashbox/logo.png" />
				</div>
			</a>
		</div>
		<p class="logo-detail">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla.</p>
	</div>

	<div class="span4">
		<div class="test">
			<a href="/sample">
				<div class="logo" id="aveda-logo">
					<img src="/clients/Aveda/logo.png" />
				</div>
			</a>
		</div>
		<p class="logo-detail">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla.</p>
	</div>	
</div>