<div class="container">
	<div class="row span12">
		<center>
			<h1>My Gap</h1>
			<p>
				Create a holder for my Jambox so that I can listen to music out loud on my bike.
			</p>
		</center>
	</div>
</div>