<div class="row">
    <div class="span8 offset2 NavRow">
      <a href="/work" class="NavItem NavWork" id="Work"><span>WORK</span></a>
      <a href="/play" class="NavItem NavPlay" id="PlayFill"><span>PLAY</span></a>
      <a href="http://blog.bimschleger.com" class="NavItem NavBlog" id="Blog"><span>BLOG</span></a>
  </div>
</div>

<div class="row-fluid">
	<div class="span8 offset2">
		<h1 class="PageTitle" id="PlayText">THINGS I LOVE</h1>
	</div>
</div>

<div class="row-fluid">
	<div class="span6 offset3 PageDetail">
		When I'm not at work, creating awesome digital projects for clients, I have a couple interests of my own. The big themes? Sports and tech...because who doesn't love sports &amp; tech?
	</div>
</div>

<div class="row space">
	<a href="mailto:brian@bimschleger.com?subject=Looking to get in touch">
		<div class="span4 offset4 CTA">
			<p>Get in touch</p>
		</div>
	</a>
</div>

<div class="row" style="padding-top: 10px;">
	<a href="/resume">
		<div class="span4 offset4 CTA">
			<p>Check out my resum&eacute;</p>
		</div>
	</a>
</div>

<div class="row space">
	<div class="span8 offset2">
		<div class="row">
			<div class="span2 hidden-phone">
				<div Class="PlayLogo" id="nfl">
					<img src="/logos/nfl.png">
				</div>
			</div>
			<div class="span6">
				<p class="TopicTitle" id="PlayText">nfl</p>
				<p class="TopicDetail">This project launched in January of 2013</p>
				<p>The greatest sport. End of story. While the game is exciting, I have a bizarre interest in O-line play, and love discussing Defensive strategies. If you love talking Double-A gap pressure, or stopping the Read Option with a Scrape Exchange, we’ll be good friends.</p>
				<a href="#"><span class="SubjectLinks">Creative</span></a>
				<a href="#"><span class="SubjectLinks">Strategy</span></a>
				<a href="#"><span class="SubjectLinks">Media</span></a>
			</div>
				
		</div>
	</div>
</div>

<div class="row space">
	<div class="span8 offset2">
		<div class="row">
			<div class="span2 hidden-phone">
				<div Class="PlayLogo" id="patriots">
					<img src="/logos/patriots.png">
				</div>
			</div>
			<div class="span6">
				<p class="TopicTitle" id="PlayText">new england patriots</p>
				<p class="TopicDetail">This project began in May of 2013</p>
				<p>The greatest teaming the greatest sport. Being born in Boston,  I’m a die hard Patriots fan, and attend at least 1 game a year. Greatest game I’ve ever attended you ask? Even though it was a loss, it’s got to be Super Bowl XVLI.</p>
				<a href="#"><span class="SubjectLinks">Creative</span></a>
				<a href="#"><span class="SubjectLinks">Strategy</span></a>
				<a href="#"><span class="SubjectLinks">Media</span></a>
			</div>
				
		</div>
	</div>
</div>

<div class="row space">
	<div class="span8 offset2">
		<div class="row">
			<div class="span2 hidden-phone">
				<div Class="PlayLogo" id="games">
					<img src="/logos/games.png">
				</div>
			</div>
			<div class="span6">
				<p class="TopicTitle" id="PlayText">games</p>
				<p class="TopicDetail">This project launched in January of 2013</p>
				<p>If you wiggle the sticks, we’ll also get along well. Madden, Starcraft, &amp; Call of Duty all split time in the rotation, as well as iPad and iPhone games. Cut the Rope? Letterpress? Pudding Monsters? Check, check, and check.</p>
				<a href="#"><span class="SubjectLinks">Creative</span></a>
				<a href="#"><span class="SubjectLinks">Strategy</span></a>
				<a href="#"><span class="SubjectLinks">Media</span></a>
			</div>
				
		</div>
	</div>
</div>

<div class="row space">
	<div class="span8 offset2">
		<div class="row">
			<div class="span2 hidden-phone">
				<div Class="PlayLogo" id="legos">
					<img src="/logos/lego.png">
				</div>
			</div>
			<div class="span6">
				<p class="TopicTitle" id="PlayText">legos</p>
				<p class="TopicDetail">This project launched in June of 2011</p>
				<p>Building things is awesome, which is why my love affair with Legos began at a young age. Ask the parents, ask my friends…I build some pretty sweet stuff. Trying to get back to my roots, I’ve picked up coding as a hobby as tech-fueled method of building things.</p>
				<a href="#"><span class="SubjectLinks">Creative</span></a>
				<a href="#"><span class="SubjectLinks">Strategy</span></a>
				<a href="#"><span class="SubjectLinks">Media</span></a>
			</div>
				
		</div>
	</div>
</div>

<div class="row space">
	<div class="span8 offset2">
		<div class="row">
			<div class="span2 hidden-phone">
				<div Class="PlayLogo" id="travel">
					<img src="/logos/travel.png">
				</div>
			</div>
			<div class="span6">
				<p class="TopicTitle" id="PlayText">travel</p>
				<p class="TopicDetail">This project launched in May of 2013</p>
				<p>Living overseas &amp; French fluency tend to lead to a bit of international travel. My globetrotting highlights include Oktoberfest in Munich, strolling through the Great Pyramids in Giza,  rocking the Tube in London, and spending a Christmas in Milan.</p>
				<a href="#"><span class="SubjectLinks">Creative</span></a>
				<a href="#"><span class="SubjectLinks">Strategy</span></a>
				<a href="#"><span class="SubjectLinks">Media</span></a>
			</div>
				
		</div>
	</div>
</div>

<div class="row space">
	<div class="span8 offset2">
		<div class="row">
			<div class="span2 hidden-phone">
				<div Class="PlayLogo" id="tech">
					<img src="/logos/tech.png">
				</div>
			</div>
			<div class="span6">
				<p class="TopicTitle" id="PlayText">tech</p>
				<p class="TopicDetail">This project launched in September of 2011</p>
				<p>#TeamApple, and friends will note that I use my iPad more than anyone they’ve ever seen, but love all kinds of web apps. Trying to become a bit more well-rounded, I’ve coded this site from scratch (I’m trying to pick up some basic HTML &amp;  CSS chops).  Excuse any glitches.</p>
				<a href="#"><span class="SubjectLinks">Creative</span></a>
				<a href="#"><span class="SubjectLinks">Strategy</span></a>
				<a href="#"><span class="SubjectLinks">Media</span></a>
			</div>
				
		</div>
	</div>
</div>




