<div class="row">
    <div class="span8 offset2 NavRow">
      <a href="/work" class="NavItem NavWork" id="WorkFill"><span>WORK</span></a>
      <a href="/play" class="NavItem NavPlay" id="Play"><span>PLAY</span></a>
      <a href="http://blog.bimschleger.com" class="NavItem NavBlog" id="Blog"><span>BLOG</span></a>
  </div>
</div>

<div class="row-fluid">
	<div class="span8 offset2">
		<h1 class="PageTitle" id="WorkText">RESUM&Eacute;</h1>
	</div>
</div>

<div class="row-fluid">
	<div class="span6 offset3 PageDetail">
		Bacon ipsum dolor sit amet pork fatback jowl, beef ribs kevin chicken ham meatloaf spare ribs chuck bacon. Sirloin cow ribeye meatball, ham swine shankle pig corned beef. Meatball pork loin pork chop andouille bresaola ribeye.
	</div>
</div>

<div class="row space">
	<a href="mailto:brian@bimschelger.com">
		<div class="span4 offset4 CTA">
			<p>Get in touch</p>
		</div>
	</a>
</div>

<div class="row" style="padding-top: 10px;">
	<a href="/work">
		<div class="span4 offset4 CTA">
			<p>Check out the Clients</p>
		</div>
	</a>
</div>
<div class="row space">
	<div class="span8 offset2">
	    <div class="row">
	        <div class="span2 ResumeTitle hidden-phone">USER EXPERIENCE</div>
	        <div class="span6">
	            <p class="TopicTitle visible-phone" id="WorkText">USER EXPERIENCE</p>
	            <p class="TopicTitle" id="WorkText">Modea</p>
	            <p class="TopicDetail">Blacksburg, VA July 2013-Present</p>
	            <p class="TopicDetail">Main Clients: Verizon Wireless, T-Mobile</p>
	            Bacon ipsum dolor sit amet pork fatback jowl, beef ribs kevin chicken ham meatloaf spare ribs chuck bacon. Sirloin cow ribeye meatball, ham swine shankle pig corned beef. Meatball pork loin pork chop andouille bresaola ribeye.>
	            <ul id="WorkText">
	                <li><span>Setup &amp; maintained Agile rituals, including daily Scrums, Pre-Close, Backlog Grooming, Demos, and Retrospectives</span></li>
	                <li><span>Determined product features &amp; user stories to be included in the backlog for product development</span></li>
	                <li><span>Created user stories derived from business value for the development of the project</span></li>
	                <li><span>Launched products in a variety of environments, including customer self-support, call center representative support, and in-store education</span></li>
	                <li><span>Worked directly with developers &amp; UX department to measure, test, and learn for each iteration of projects</span></li>
	                <li><span>Created and analyzed user tests for mobile-focused customer support tool</span></li>
	                <li><span>Acted as primary product lead for retail education program.</span></li>
	                <li><span>Conducted in-store observation &amp; focus groups that centered on application usability</span></li>
	                <li><span>Worked extensively with mobile &amp; tablet product development, specifically centered around usability in a retail environment</span></li>
	                <li><span>Focused on user interaction, user experience, and product design for tablet-specific products</span></li>
	            </ul>
	        </div>       
	    </div>
	</div>
</div>
<div class="row space">
    <div class="span8 offset2">
        <div class="row">
            <div class="span2 ResumeTitle hidden-phone">ACCOUNT LEAD</div>
	        <div class="span6">
	            <p class="TopicTitle visible-phone" id="WorkText">ACCOUNT LEAD</p>
	            <p class="TopicTitle" id="WorkText">Modea</p>
                <p class="TopicDetail">Blacksburg, VA, February 2012-July 2013</p>
                <p class="TopicDetail">Main Clients: Chiquita Healthy Snacks, Smashbox Cosmetics, Aveda, Prudential Retirement</p>
                <p>The roles of Account Executive and Project Manager were consolidated, creating a singular position to manage all internal &amp; client-facing activity. Primarily, I WorkTexted on large-scale digital advertising campaigns, as well as several bleeding-edge customer-facing interactive experiences.</p>
                <ul id="WorkText">
                    <li><span>Primary internal &amp; client contact on projects for matters including budgets, timelines, process, and status</span></li>
                    <li><span>Trained on Agile development processes, specifically Scrum &amp; Kanban, and earned Certified Scrum Master (CSM) designation</span></li>
                    <li><span>Brought on to additional projects to concept interactive solutions for new business projects &amp; existing clients</span></li>
                    <li><span>Created a comprehensive digital campaign for Chiquita Healthy Snacks, including social media management, paid social advertisements, digital advertising, interactive game development, and key influencer outreach</span></li>
                    <li><span>Concepted, managed, and launched the Chiquita Apple Trapper, an Facebook game as a part of the Chiquita Healthy Snacks campaign</span></li>
                    <li><span>Leveraged gamification principles for Chiquita Apple Trapper interactive game to incentive repeat plays through coupons of increasing value</span></li>
                    <li><span>Concepted, launched, and managed the Smashbox “Love Me” campaign, which allowed for mass personalization of digital billboards, to be live-streamed over a 7-day span</span></li>
                    <li><span>7,000 Smashbox unique user billboards were live-streamed over a 7 day span on a digital billboard on the Roosevelt Hotel in Hollywood, CA</span></li>
                    <li><span>137,000+ minutes of Smashbox “Love Me” live video we watched by consumers watched</span></li>
                    <li><span>71,000 Smashbox Facebook fan increase for the duration of the “Love me” campaign</span></li>
                    <li><span>Launched, and managed Aveda paid social advertising campaign, specifically for the innovative Invati hair system</span></li>
                    <li><span>Launched Aveda into the beta of Facebook Exchange (FBX)</span></li>
                    <li><span>Became the Estée Lauder case study for effective implementation of Facebook Custom Audience targeting</span></li>
                    <li><span>Concepted, managed and oversaw development of multi-device, touch-enabled interactive sales materials for Prudential Retirement, which were used to secure record sales by the sales team</span></li>
                </ul>
            </div>      
        </div>
    </div>
</div>
<div class="row space">
    <div class="span8 offset2">
        <div class="row">
            <div class="span2 ResumeTitle hidden-phone">ACCOUNT EXECUTIVE</div>
	        <div class="span6">
	            <p class="TopicTitle visible-phone" id="WorkText">ACCOUNT EXECUTIVE</p>
                <p class="TopicTitle" id="WorkText">Modea</p>
                <p class="TopicDetail">Blacksburg, VA, December 2012-February 2012</p>
                <p class="TopicDetail">Main Clients: Chiquita Healthy Snacks, Chiquita Avocados, Riunite Sweet</p>
                <p>The Account Executive role offered tremendous responsibility, especially in a smaller company. I was fortunate enough to WorkText on blue-chip brands, including Chiquita and Banfi Wines (Riunite Sweet). While I acted as primary Client Service contact for the accounts, I was also involved in all concepting sessions for interactive projects.</p>
                <ul id="WorkText">
                    <li><span>Worked on a variety of clients in the CPG and Beverage Alcohol space, WorkTexting exclusively on nationwide digital advertising campaigns.</span></li>
                    <li><span>Served as Client Service contact for all projects</span></li>
                    <li><span>Guided &amp; directed the team, including designers, developers, and strategists, towards actionable business goals</span></li>
                    <li><span>Responsible for budgeting, SOW creation, timelines, and all client services for Chiquita Healthy Snacks, Chiquita Avocados, and Riunite Sweet digital advertising campaigns</span></li>
                    <li><span>Led all status calls, primarily responsible for keeping project on track &amp; solving problems as they arose</span></li>
                    <li><span>Led concepting sessions for interactive digital experiences for Chiquita Healthy Snacks and Chiquita Avocados</span></li>
                    <li><span>Was involved in concepting and brainstorming sessions for other agency digital interactive projects, due to strength in digital concepting</span></li>
                    <li><span>Formed Chiquita Avocados digital persona strategy for an interactive Facebook game, identifying user habits, target demographics, and game-playing tendencies</span></li>
                    <li><span>20,000 Chiquita Avocados Facebook fan increase (began at zero) through gamified inter actives experiences (no paid media support)</span></li>
                    <li><span>Launched Riunite Sweet wines new product line, including bilingual materials across website, social campaign, social games, and media support including digital advertising, digital radio, key influencer outreach, Facebook advertising, and online sweepstakes</span></li>
                    <li><span>27,000 Riunite Sweet Facebook fan increase (began at zero) over the life of the campaign</span></li>
                    <li><span>500%+ Chiquita Healthy Snacks campaign impressions due to ad effectiveness and optimization</span></li>
                    <li><span>74,000 Chiquita Healthy Snacks digital coupons redeemed (prior to implementation of Facebook Offers)</span></li>
                    <li><span>53% Chiquita Healthy Snacks coupon redemption rate (2-3x higher than the national average) on the Chiquita Healthy Snacks 2011 digital campaign through innovative Facebook feed coupon integration</span></li>
                </ul>
            </div>     
        </div>
    </div>
</div>
<div class="row space">
    <div class="span8 offset2">
        <div class="row">
            <div class="span2 ResumeTitle hidden-phone">MARKETING INTERN</div>
	        <div class="span6">
	            <p class="TopicTitle visible-phone" id="WorkText">MARKETING INTERN</p><p class="TopicTitle" id="WorkText">Modea</p>
                <p class="TopicDetail">Blacksburg, VA February 2012-May 2013</p>
                <p class="TopicDetail">Main Clients: Chiquita Healthy Snacks, New business pitches</p>
                <p>As an intern, I was introduced to a variety of departments, including Account management, Project management, and  Strategic Planning. I was able to participate in new business pitches, long-term projects. Success in this role ultimately led to a promotion to Account Executive.</p>
                <ul id="WorkText">
                    <li><span>Gained multi-departmental experience in project management, account management, and strategic planning</span></li>
                    <li><span>Participated in new business multi-agency pitches, specifically for Rubbermaid Commercial Products</span></li>
                    <li><span>Assisted in management of the New Business Development pipeline</span></li>
                    <li><span>Instrumental in creative concepting for new business</span></li>
                    <li><span>Participated and concepted on Beverage Alcohol New business pitches</span></li>
                </ul>
            </div>      
        </div>
    </div>
</div>
<div class="row space">
    <div class="span8 offset2">
        <div class="row">
            <div class="span2 ResumeTitle hidden-phone">ENGLISH LANGUAGE ASSISTANT</div>
	        <div class="span6">
	            <p class="TopicTitle visible-phone" id="WorkText">ENGLISH LANGUAGE ASSISTANT</p><p class="TopicTitle" id="WorkText">French Ministry of Education</p>
                <p class="TopicDetail">Mulhouse, France, September 2009-June 2010</p>
                <p>Following a lifelong passion to live overseas and leverage my French fluency, I accepted this position in France, which was an incredible learning experience, not only from an education perspective, but also in effective communication and information delivery. I WorkTexted to improve English literacy &amp; fluency amongst French high schools students.</p>
                <ul id="WorkText">
                    <li><span>Taught English to French high school students in a variety of grade levels and language fluency</span></li>
                    <li><span>Adapted lesson plans based on student language ability</span></li>
                    <li><span>Developed weekly curriculums of classroom content to educate students</span></li>
                    <li><span>Strengthened essential non-verbal communication skills with the help of a language barrier</span></li>
                    <li><span>Expanded personal public speaking skills through daily classroom instruction</span></li>
                </ul>
            </div>       
        </div>
    </div>
</div>
<div class="row space">
    <div class="span8 offset2">
        <div class="row">
            <div class="span2 ResumeTitle hidden-phone">ACCOUNT MANAGER</div>
	        <div class="span6">
	            <p class="TopicTitle visible-phone" id="WorkText">ACCOUNT MANAGER</p><p class="TopicTitle" id="WorkText">The Reynolds and Reynolds Company</p>
                <p class="TopicDetail">Chicago, IL, June 2008-August 2009</p>
                <p>I sold hardware and software into car dealerships, which allowed them to manage every function needed to conduct business. With a  small support team, I was tasked with initiating contact, beginning the sale, bringing in team specialists, and closing the sale.</p>
                <ul id="WorkText">
                    <li><span>Sold automotive dealerships various hardware and software solutions designed to manage payroll, inventory, repairs,parts, and marketing</span></li>
                    <li><span>Worked directly with customers to identify business issues that they were experiencing, and matched their need to solutions</span></li>
                    <li><span>Teamed with the supporting oft ware specialists to efficiently solve customer issues</span></li>
                    <li><span>Managed 15 concurrent account as the primary contact</span></li>
                    <li><span>Became the first sales trainee to be placed in position of Account Manager</span></li>
                    <li><span>Acted as a team lead to distribute, manage WorkTextflow between teammates</span></li>
                    <li><span>Guided customers through the sales process to satisfy their needs</span></li>
                </ul>
            </div>       
        </div>
    </div>
</div>
<div class="row space">
    <div class="span8 offset2">
        <div class="row">
            <div class="span2 ResumeTitle hidden-phone">PROGECT MANAGER</div>
	        <div class="span6">
	            <p class="TopicTitle visible-phone" id="WorkText">PROJECT MANAGER
	            </p><p class="TopicTitle" id="WorkText">DuPage Sign &amp; Banner</p>
                <p class="TopicDetail">Wheaton, IL, May 2004-August 2006</p>
                <p>I WorkTexted in a variety of roles, ultimately settling in on Project manager. It was a  small company (3 people total), and responsibilities were often shared across all 3 team members. There was tremendous opportunity to learn project management, client service. and vector illustration tools.</p>
                <ul id="WorkText">
                    <li><span>Design physical vinyl signs and banners, commonly for installation &amp; marketing on buildings</span></li>
                    <li><span>Managed all stages of the business cycle, from prospect, planning, design, review, sales, and installation</span></li>
                    <li><span>Learned vector software for use in designing project materials</span></li>
                    <li><span>Coordinated and designed exclusive political marketing materials</span></li>
                    <li><span>Developed competitive and profitable price strategies to rival local competition</span></li>
                    <li><span>Handled repeat customers, as well as managed up to 20 unique, concurrent projects</span></li>
                </ul>
            </div>      
        </div>
    </div>
</div>
<div class="row space">
    <div class="span8 offset2">
        <div class="row">
            <div class="span2 ResumeTitle hidden-phone">EDUCATION</div>
	        <div class="span6">
	            <p class="TopicTitle visible-phone" id="WorkText">EDUCATION</p>
                <p class="TopicTitle" id="WorkText">Purdue University</p>
                <p class="TopicDetail">West Lafayette, IN, September 2004-May 2008</p>
                <p>B.S. Management, Minor French Language and Literature</p>
            </div>        
        </div>
    </div>
</div>
<div class="row space">
    <div class="span8 offset2">
        <div class="row">
            <div class="span2 ResumeTitle hidden-phone">CERTIFICATIONS</div>
	        <div class="span6">
	            <p class="TopicTitle visible-phone" id="WorkText">CERTIFICATIONS</p>
	            <p class="TopicDetail">Below are specific certifactions earned over the years</p>
                <ul id="WorkText">
                    <li><span>CSM (Certified Scrum Master) 2013</span></li>
                    <li><span>Coursera Gamification</span></li>
                    <li><span>Coursera Design</span></li>
                </ul>
            </div>        
        </div>
    </div>
</div>