<!-- HEADER -->

<div class="row">
	<div class="span8offset2">
		<h1>RESUM&Eacute;</h1>
	</div>
</dov>

<!-- DESCRIPTION -->

<div class="row">
	<div class="span8offset2">
		<p>Bacon ipsum dolor sit amet pork fatback jowl, beef ribs kevin chicken ham meatloaf spare ribs chuck bacon. Sirloin cow ribeye meatball, ham swine shankle pig corned beef. Meatball pork loin pork chop andouille bresaola ribeye.</p>
	</div>
</div>

<!-- CTA BUTTONS -->

<div class="row">
	<a href="mailto:brian@bimschleger.com">
		<div class="span4offset4 CTA" id="work">
			<p>Get in touch</p>
		</div>
	</a>
</div>

<div class="row">
	<a href="/work">
		<div class="span4offset4 CTA" id="work">
			<p>Check out the Clients</p>
		</div>
	</a>
</div>

<div class="row">
	<a href="http://cl.ly/image/1l193K2E1M2a">
		<div class="span4offset4 CTA" id="work">
			<p>Download the PDF</p>
		</div>
	</a>
</div>

<!-- USER EXPERIENCE -->

<div class="row">
	<div class="span2offset2">
		<h3>USER EXPERIENCE</h3>
	</div>
	<div class="span6 pull-right">
		<p class="topic-timing">Modea, Blacksburg, VA 5/2013-Present</p>
		<br>
		<p class="topic-timing">Main clients: Verizon Wireless, T-Mobile</p>
	</div>
	<div class="span6 pull-right">
		<p>Transitioned to a smaller team, focused on new product development &#38; evolutionary development of existing retail education materials. With the implementation of Agile methodologies, I became Scrum master &#38; Product Owner across various projects. I led product vision &#38; feature implementation for many interactive customer care solutions.
		<ul>
			<li>Setup &#38; maintained Agile rituals, including daily Scrums, Pre-Close, Backlog Grooming, Demos, and Retrospectives</li>
			<li>Determined product features &#38; user stories to be included in the backlog for product development</li>
			<li>Created user stories derived from business value for the development of the project</li>
			<li>Launched products in a variety of environments, including customer self-support, call center representative support, and in-store education</li>
			<li>Worked directly with developers &#38; UX department to measure, test, and learn for each iteration of projects</li>
			<li>Created and analyzed user tests for mobile-focused customer support tool</li>
			<li>Acted as primary product lead for retail education program.</li>
			<li>Conducted in-store observation &#38; focus groups that centered on application usability</li>
			<li>Worked extensively with mobile &#38; tablet product development, specifically centered around usability in a retail environment</li>
			<li>Focused on user interaction, user experience, and product design for tablet-specific products</li>
	</div>
</div>
