<div class="container-fluid">
	<div class="row-fluid client-top">

		<!-- LOGO -->

		<div class="span4">
			<div id="chiquita-logo-client">
					<img src="/clients/Chiquita/logo.png" />
			</div>
			<p>Donec ullamcorper nulla non metus auctor fringilla. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. Vestibulum id ligula porta felis euismod semper.</p>
		</div>

		<!-- CAROUSEL -->

		<div id="myCarousel" class="carousel slide span8">
			<ol class="carousel-indicators">
			    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>

		  <!-- CAROUSEL IMAGES -->

		    <div class="carousel-inner"  id="item-1">
			    <div class="active item">
			    	<img src="/sample_Images/OrangeTeal/OrangeTeal_400x200_1.png">
			    	<div class="carousel-caption">
                      <h4>First Thumbnail label</h4>
                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
			    </div>
			    <div class="item">
			    	<img src="/sample_Images/OrangeTeal/OrangeTeal_400x200_2.png" id="item-2">
			    	<div class="carousel-caption">
                      <h4>Second Thumbnail label</h4>
                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
			    </div>
			    <div class="item">
			    	<img src="/sample_Images/OrangeTeal/OrangeTeal_400x200_3.png">
			    	<div class="carousel-caption">
                      <h4>Third Thumbnail label</h4>
                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
			    </div>
		    </div>

		  <!-- CAROUSEL NAVIGATION -->

		  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
		</div>
	</div>

<!-- DETAIL BOXES -->

	<!-- CAMPAIGN -->

	<div class="row-fluid">
		<div class="span12">
			<div class="span4 detail">
				<div class="test">
					<a href="/sample">
						<div class="logo" id="modea-logo">
							<p>campaign<p/>
						</div>
					</a>
				</div>
				<p class="logo-detail">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla.</p>
			</div>

			<!-- WHAT I DID -->

			<div class="span4 detail">
				<div class="test">
					<a href="/sample">
						<div class="logo" id="modea-logo">
							<p>what I did <p/>
						</div>
					</a>
				</div>
				<p class="logo-detail">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla.</p>
				<ul>
					<li>Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</li>
					<li>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</li>
					<li>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</li>
					<li>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</li>
				</ul>
			</div>

			<!-- RESULTS -->

			<div class="span4 detail">
				<div class="test">
					<a href="/sample">
						<div class="logo" id="modea-logo">
							<p>results<p/>
						</div>
					</a>
				</div>
				<p class="logo-detail">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla.</p>
				<ul>
					<li>Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</li>
					<li>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</li>
					<li>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</li>
					<li>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</li>
				</ul>
			</div>
		</div>
	</div>
</div>
