<div class="container-fluid">
	<div class="row-fluid">
		<div class="span10 offset1">
			<center>
				<img src="/Sample_Header_800x200.png" class="hidden-phone">
				<img src="/Sample_Header_400x200.png" class="visible-phone">
			</center>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<div class="span5 offset1">
				<h3>Sample</h3>
				<br>
				<p>
					Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
				</p>
			</div>
			<div class="span5">
				<h3>Sample Description</h3>
				<ul>
					<li>Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</li>
					<li>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</li>
					<li>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</li>
					<li>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<div class="span10 offset1">
				<center>
					<h3>
						Sample
					</h3>
					<p>
						Sample screenshots
					</p>
				</center>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span10 offset1">
			<ul class="thumbnails">
  				<li class="span4">
				    <a href="#" class="thumbnail">
				      <img src="/Sample_Image_300x200.png" alt="" style="width: 400px;">
				    </a>
  				</li>
  				<li class="span4">
				    <a href="#" class="thumbnail">
				      <img src="/Sample_Image_300x200.png" alt="" style="width: 400px;">
				    </a>
  				</li>
  				<li class="span4">
				    <a href="#" class="thumbnail">
				      <img src="/Sample_Image_300x200.png" alt="" style="width: 400px;">
				    </a>
  				</li>
  			</ul>
  		</div>
  	</div>
	<!-- <div class="row-fluid">
		<div class="span12">
			<div class="span5 offset1">
				<img src="/Sample_Image_300x200.png">
			</div>
			<div class="span5">
				<img src="/Sample_Image_300x200.png">
			</div>
		</div>
	</div>
	<br>
	<div class="row-fluid">
		<div class="span12">
			<div class="span5 offset1">
				<img src="/Sample_Image_300x200.png">
			</div>
			<div class="span5">
				<img src="/Sample_Image_300x200.png">
			</div>
		</div>
	</div> -->
</div>
