<h1>Testing 1-2-3</h1>

<p class="text-left">
	<!--  Tells the text where to align -->
	Bim is <em>awesome</em>. I'm just <br>
	playing with commands on the left.
</p>

<br>
<br>
<!-- Line breaks -->

<p class="text-center">
	<abbr title="Brian Bimschleger">Bim</abbr>
	<!-- Should show the full name above "Bim" -->
	is <em>awesome</em>. I'm just <br>
	playing with commands in the middle.
</p>

<br>
<br>
<br>
<br>

<!-- Testing out adding an address on to a page -->
<address>
	<strong>BRIAN BIMSCHLEGER</strong><br>
	1234 Testing Ln<br>
	Blacksburg, VA 24060<br>
	<abbr title="Yea, it's an iPhone 5">Mobile</abbr> 630.649.4565<br>
	<a href="mailto:bimschleger@gmail.com">bimschleger@gmail.com</a>
</address>

<br>
<br>
<br>

<img src="https://dl.dropbox.com/u/15223521/BIM-000-SocialProfile-Tall.JPG" style="width:200px; height: 200px;" class="img-circle" class="text-center">
<!-- Added in an image fo me from Dropbox, croppsed to 2oow x 200h, in a circle -->

<br>
Testing out wrapping the code snippet <code>&lt;br&gt;</code> inline<br>
