<h1>Testing 1-2-3</h1>

<p class="text-left">
	<!--  Tells the text where to align -->

	Bim is <em>awesome</em>. I'm just <br>
	playing with commands on the left.
</p>

<br>
<br>
<!-- Line breaks -->

<p class="text-center">
	<abbr title="Brian Bimschleger">Bim</abbr>
	<!-- Should show the full name above "Bim" -->
	is <em>awesome</em>. I'm just <br>
	playing with commands in the middle.
</p>

<br>
<br>
<br>
<br>

<!-- Testing out adding an address on to a page -->
<div class="row">
	<div class="span4">
		<!-- <div class="well"> -->
		<!-- <a href="http://www.chiquita.com">
			<img alt="Chiquita test" src="/Chiquita.png" style="width: 400px; height: 200px;"> 
		</a> -->
		<div class="img">
			<img alt="Chiquita test" src="/Chiquitatest.png" >
		<!-- style="width: 800px; height: 400px;" -->
	</div>
		<p>
			CHIQUITA
		</p>
		<p>
			A whole bunch of text goes here. Really. Even more text should be palced here.
		</p>
		<p class="text-center">
 		<%= link_to "See Chiquita", "http://espn.com", class: "btn btn-primary btn-large" %>
		</p>
		<!-- </div> -->
	</div>
	<div class="span4 ">
		<div class="well">
			<p>
				Box2
				<br>
				<a href="mailto:bimschleger@gmail.com">bimschleger@gmail.com</a>
			</p>
		</div>
	</div>
	<div class="span2 offset2">
		<div class="well">
			<p>
				Box3
				<br>
				<a href="mailto:bimschleger@gmail.com">bimschleger@gmail.com</a>
			</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="span4">
		<div class="well">
			<img src="https://dl.dropbox.com/u/15223521/Modea.png" style="width: 250px; height: 100px;" class="img-circle" class="text-center">
			<p>
				CHIQUITA
			</p>
			<p>
				A whole bunch of text goes here.
			</p>
		</div>
	</div>
	<div class="span2 ">
		<div class="well">
			<p>
				Box2
				<br>
				<a href="mailto:bimschleger@gmail.com">bimschleger@gmail.com</a>
			</p>
		</div>
	</div>
	<div class="span2 offset3">
		<div class="well">
			<p>
				Box3
				<br>
				<a href="mailto:bimschleger@gmail.com">bimschleger@gmail.com</a>
			</p>
		</div>
	</div>
</div>
<br>
<br>
<br>

<img src="https://dl.dropbox.com/u/15223521/BIM-000-SocialProfile-Tall.JPG" style="width:200px; height: 200px;" class="img-circle" class="text-center">
<!-- Added in an image fo me from Dropbox, croppsed to 2oow x 200h, in a circle -->
<br>
<img src="omrails/app/assets/images/BIM-000-Social-Profile-Tall.JPG" style="width:200px; height: 200px;" class="img-circle" class="text-center">
<br>
Testing out wrapping the code snippet <code>&lt;br&gt;</code> inline
<br>
