<div class="container">
    <div class="col-sm-6 col-sm-offset-3" style="margin-top:100px;">
        <h1>Hello, there</h3>
        <p>I'm Bim. I work at digital telepathy, and make sweet stuff on the interwebs.</p>
        <div class="btn btn-primary">Tweet at me</div>
    </div>

    <div class="row"> 
        <div class="col-sm-4">
            <h4>I like to think of cool stuff</h4>
            <p> Whiteboard notebooks, kickstarter, jambox holders, etc.</p>
        </div>
        <div class="col-sm-4">
            <h4>I really like the internet</h4>
            <p>Learning to code, wathcing videos, vidja games, etc.</p>
        </div>
        <div class="col-sm-4">
            <h4>Love having fun</h4>
            <p>Sports Czar, foosball elagues, gaming, etc. You name it, I'll play it.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <p>I've worked with some pretty sweet clients</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
            <img src="http://placehold.it/150x100" style="width:100%">
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
            <img src="http://placehold.it/150x100" style="width:100%">
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
            <img src="http://placehold.it/150x100" style="width:100%">
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
            <img src="http://placehold.it/150x100" style="width:100%">
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
            <img src="http://placehold.it/150x100" style="width:100%">
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
            <img src="http://placehold.it/150x100" style="width:100%">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-md-offset-1 ">
            <img src="/testimage.gif" style="width:100%">
        </div>
        <div class="col-sm-12 col-md-4">
            <h4>Sample client</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis risus eget urna mollis ornare vel eu leo.</P>
            <div class="btn btn-primary">Check out them details!</div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-6 pull-right">
            <img src="/testimage.gif" style="width:100%">
        </div>
        <div class="col-sm-12 col-md-4 col-md-offset-1 ">
            <h4>Sample client 2</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis risus eget urna mollis ornare vel eu leo.</P>
            <div class="btn btn-primary">Check out them details!</div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-6 col-md-offset-1 ">
            <img src="/testimage.gif" style="width:100%">
        </div>
        <div class="col-sm-12 col-md-4">
            <h4>Sample client</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis risus eget urna mollis ornare vel eu leo.</P>
            <div class="btn btn-primary">Check out them details!</div>
        </div>
    </div>
</div>