<div class="row">
	<div class="span4 offset4">
		<div class="circle-logo">
			<p id="circle-text" class="visible-desktop">desktop</p>
			<p id="circle-text" class="visible-tablet">tablet</p>
			<p id="circle-text" class="visible-phone">mobile</p>
		</div>
	</div>
	<div>
		<p class="span4 offset4" style="text-align: center;">
			Curabitur blandit tempus porttitor. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
		</p>
	</div>
</div>

<!-- MODEA -->

<div class="row">
	<div class="span4">
		<a href="http://www.espn.com" target="_blank">
			<div class="logo" id="modea-logo">
				<img src="/clients/Modea/logo.png" />
			</div>
		</a>
		<h3 class="text-center">
			Sample
		</h3>
		<small>
			Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla.
		</small>
	</div>

<!-- CHIQUITA -->

	<div class="span4">
		<a href="http://www.espn.com" target="_blank">
			<div class="logo" id="chiquita-logo">
				<img src="/clients/Chiquita/logo.png" />
			</div>
		</a>
		<h3 class="text-center">
			Sample
		</h3>
		<small>
			Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla.
		</small>
	</div>

<!-- AVOCADOS -->

	<div class="span4">
		<a href="http://www.espn.com" target="_blank">
			<div class="logo" id="avocados-logo">
				<img src="/clients/ChiquitaAvocados/logo.png" />
			</div>
		</a>
		<h3 class="text-center">
			Sample
		</h3>
		<small>
			Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla.
		</small>
	</div>	
</div>

<!-- NEW ROW -->

<!-- PRUDENTIAL-->

<div class="row">
	<div class="span4">
		<a href="http://www.espn.com" target="_blank">
			<div class="logo" id="prudential-logo">
				<img src="/clients/Prudential/logo.png" />
			</div>
		</a>
		<h3 class="text-center">
			Sample
		</h3>
		<small>
			Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla.
		</small>
	</div>

<!-- SMASHBOX -->

	<div class="span4">
		<a href="http://www.espn.com" target="_blank">
			<div class="logo" id="smashbox-logo">
				<img src="/clients/Smashbox/logo.png" />
			</div>
		</a>
		<h3 class="text-center">
			Sample
		</h3>
		<small>
			Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla.
		</small>
	</div>

<!-- AVEDA -->

	<div class="span4">
		<a href="http://www.espn.com" target="_blank">
			<div class="logo" id="aveda-logo">
				<img src="/clients/Aveda/logo.png" />
			</div>
		</a>
		<h3 class="text-center">
			Sample
		</h3>
		<small>
			Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla.
		</small>
	</div>	
</div>