<div class="container-fluid">

	<!-- PAGINATION -->

	<div class="row-fluid span12 pagination" style="text-align:center;">
		<p class="text-center">
			Weekly Homework
		</p>
		<ul>
	    	<li><a href="/week3">&laquo; Older Week</a></li>
		    <li><a href="/week1">1</a></li>
		    <li><a href="/week2">2</a></li>
		    <li><a href="/week3">3</a></li>
		    <li class="active"><a href="/week4">4</a></li>
		    <li><a href="/week5">5</a></li>
		    <li><a href="/week6">6</a></li>
		    <li><a href="/week7">7</a></li>
		    <li><a href="/week8">8</a></li>
		    <li><a href="/week5">Newer Week &raquo;</a></li>
		</ul>
	</div>

	<!-- ASSIGNMENT 4.1 -->

	<div class="row-fluid span12">
		<h1>4.1 Concept Selection (3 concepts)</h1>
	</div>
	<div class="row-fluid span12">
		<div class="span6">
			<p>
				GAP:
				<br><br>
				Create a holder for my Jambox so that I can listen to music out loud on my Bike
				<br>
				<br>
				USER NEEDS
			</p>
			<ol>
				<li>The holder allows for full Jambox functionality</li>
				<li>The holder prevents the Jambox from being damaged</li>
				<li>The holder secures the Jambox</li>
				<li>The holder is used with a bike</li>
				<li>The Holder has additional utility</li>
				<li>The holder holds mobile phone</li>
			</ol>
		</div>

		<div class="span12">
			<div>
				<h2>Concept Selection and Scoring matrices</h2>
			</div>
			<img src="/design/week4/4-1_SelectionMatrix.png" style="text-align:center;"><br>
			<center>
				<small>Concept Selection Matrix</small>
			</center>
			<br>
		</div>
		<div class="span12">
			<img src="/design/week4/4-1_ScoringMatrix.png" style="text-align:center;"><br>
			<center>
				<small>Concept Scoring Matrix</small>
			</center>
			<br>
		</div>
	</div>

	<!-- ASSIGNMENT 4.2 -->

	<div class="row-fluid span12">
		<h1>4.2 - Prototyping (3 concepts)</h1>
	</div>
	<div class="row-fluid">
		<div class="span6">
			<p>
				GAP:
				<br><br>
				Create a holder for my Jambox so that I can listen to music out loud on my Bike
				<br>
				<br>
				USER NEEDS
			</p>
			<ol>
				<li>The holder allows for full Jambox functionality</li>
				<li>The holder prevents the Jambox from being damaged</li>
				<li>The holder secures the Jambox</li>
				<li>The holder is used with a bike</li>
				<li>The Holder has additional utility</li>
				<li>The holder holds mobile phone</li>
			</ol>
		</div>
	</div>

		<!-- CONCEPT B -->
		<h2>Concept B - The Wrestler</h2>
	<div class="row-fluid">
		<div class="span6 pull-left">
			<img src="/design/week4/4-2_Concept-B-TheWrestler-Sketch.png" style="text-align:center;"><br>
			<center>
				<small>Concept B - Sketch</small>
			</center>
			<br>
		</div>
		<div class="span6 pull-right">
			<img src="/design/week4/4-2_Concept-B-TheWrestler-Prototype-Front.jpeg" style="text-align:center;"><br>
			<center>
				<small>Front view of Prototype B</small>
			</center>
		</div>
		<div class="span6 pull-right">
			<img src="/design/week4/4-2_Concept-B-TheWrestler-Prototype-TopLeft.jpeg" style="text-align:center;"><br>
			<center>
				<small>Top-left view of Prototype B</small>
			</center>
		</div>
	</div>

	<!-- CONCEPT D -->

	<h2>Concept D - The Elastic Top</h2>
	<div class="row-fluid show-grid">
		
		<div class="span6">
			<img src="/design/week4/4-2_Concept-D-ElasticTop-Sketch.png" style="text-align:center; width=600px;"><br>
			<center>
				<small>Concept B - Sketch</small>
			</center>
		</div>
		<div class="span6 pull-right">
			<img src="/design/week4/4-2_Concept-D-ElasticTop-Prototype-TopLeft.jpeg" style="text-align:center;"><br>
			<center>
				<small>Top-Left view of Prototype D</small>
			</center>
		</div>
		<div class="span6 pull-right">
			<img src="/design/week4/4-2_Concept-D-ElasticTop-Prototype-Front.jpeg" style="text-align:center;"><br>
			<center>
				<small>Top view of Prototype D</small>
			</center>
		</div>
	</div>

	<!-- CONCEPT E -->

	<h2>Concept E - The Open Back</h2>
	<div class="row-fluid">
		
		<div class="span5 pull-left">
			<img src="/design/week4/4-2_Concept-E-OpenBack-Sketch.png" style="text-align:center;"><br>
			<center>
				<small>Concept E - Sketch</small>
			</center>
			<br>
		</div>
		<div class="span6 pull-right">
			<img src="/design/week4/4-2_Concept-E-OpenBack-Prototype-SideA.jpeg" style="text-align:center;"><br>
			<center>
				<small>Side view of Concept E</small>
			</center>
		</div>
		<div class="span6 pull-right">
			<img src="/design/week4/4-2_Concept-E-OpenBack-Prototype-Front.jpeg" style="text-align:center;"><br>
			<center>
				<small>Front view of Concept E</small>
			</center>
		</div>
	</div>

</div>