<div class="container-fluid">

	<!-- PAGINATION -->

	<div class="row-fluid span12 pagination" style="text-align:center;">
		<p class="text-center">
			Weekly Homework
		</p>
		<ul>
	    	<li><a href="/week5">&laquo; Older Week</a></li>
		    <li><a href="/week1">1</a></li>
		    <li><a href="/week2">2</a></li>
		    <li><a href="/week3">3</a></li>
		    <li><a href="/week4">4</a></li>
		    <li><a href="/week5">5</a></li>
		    <li class="active"><a href="/week6">6</a></li>
		    <li><a href="/week7">7</a></li>
		    <li><a href="/week8">8</a></li>
		    <li><a href="/week7">Newer Week &raquo;</a></li>
		</ul>
	</div>

	<!-- ASSIGNMENT 6.1 -->

	<div class="row-fluid span12">
		<h1>6.1 - Alpha Prototype</h1>
	</div>
	<div class="row-fluid span12">
		<div class="span6 pull-left">
			<p>
				GAP:
				<br><br>
				Create a holder for my Jambox so that I can listen to music out loud on my Bike
				<br>
			</p>
		</div>
	</div>
	<div class="row-fluid span12">
		<h2>Prototype Description</h2>
		<div class="span6 pull-left">
			<p>
				The prototype is used more from a design perspective, using quick materials in order to get teh shape and style in place before moving on to sturdier amterials.
				<br><br>
				It is designed in the specific way to allow for music to be projected upwards, with anough leeway in the containing framt to allow for subtle movement, and also easy insertion and removal.
				<br><br>
				Raised edges on the end corners make sure that, if bumping is experienced during a bike ride, the key points of the Jambox (the ends) ramins in the holder. Early designs featured roeps and elastic. Each of these containing methods were deemed ineffective and superfluous, and -- through testing -- vertical movement was found to be limited.
				<br><br>
				The beta prototype will likely involve some sort of rubberized texture to further prevent movement and shifting from the Jambox during a ride.
			</p>
		</div>
	</div>
	<div class="row-fluid span12">		
		<div class="span6 pull-right">
			<img src="/design/week6/6-1_Alpha3.JPG" style="width: 600px; text-align:center;">
			<br>
			<center>
				<small>Alpha prototype (view 1)</small>
			</center>
			<br>
		</div>
		<div class="span6 pull-right">
			<img src="/design/week6/6-1_Alpha1.JPG" style="width: 600px; text-align:center;">
			<br>
			<center>
				<small>Alpha prototype (view 2)</small>
			</center>
			<br>
		</div>
		<div class="span6 pull-right">
			<img src="/design/week6/6-1_Alpha4.JPG" style="width: 600px; text-align:center;">
			<br>
			<center>
				<small>Alpha prototype (view 3)</small>
			</center>
			<br>
		</div>
	</div>
</div>