<div class="container">

	<!-- PAGINATION -->

	<div class="row-fluid span12 pagination" style="text-align:center;">
		<p class="text-center">
			Weekly Homework
		</p>
		<ul>
	    	<li><a href="/week1">&laquo; Older Week</a></li>
		    <li><a href="/week1">1</a></li>
		    <li class="active"><a href="/week2">2</a></li>
		    <li><a href="/week3">3</a></li>
		    <li><a href="/week4">4</a></li>
		    <li><a href="/week5">5</a></li>
		    <li><a href="/week6">6</a></li>
		    <li><a href="/week7">7</a></li>
		    <li><a href="/week8">8</a></li>
		    <li><a href="/week3">Newer Week &raquo;</a></li>
		</ul>
	</div>

	<!-- ASSINGMENT 2.1 -->

	<div class="row-fluid span12">
		<h1>Assignment #2.1 Design Problem Definition</h1>
	</div>
	<div class="row-fluid span12">
		<div class="span6">
			
			<p>
				My new gap is "Create a holder for my Jambox." <br><br>
				Below is a hierarchy of problems, with the problem best served for for my class project denoted in <i>italics</i> and with an "*".
				<br>
				<br>
				I have adopted the format for each of the below points: "In what way might I ________?"
			</p>
			<ol>
				<li>Achieve a  job more suited for my skills.</li>
				<li>Become more educated.</li>
				<li>Further my learnings in specific areas of interest.</li>
				<li>Learn more information on my way to/from work.</li>
				<li>Listen to music on my bike ride.</li>
				<li>Listen to podcasts out loud on my bike.</li>
				<li>Attach a speaker to my bike.</li>
				<li><i>* Create a holder for my Jambox so that I can listen to music out loud on my bike. *</i></li>
			</ol>
		</div>
	</div>
	
	<!-- ASSIGNMENT 2.2 -->

	<div class="row-fluid span12">
		<h1>Assignment #2.2</h1>
	</div><div class="row-fluid span12">
		<div class="span6">
			<h2>Refinement of the Gap</h2>
			<p>	
				Create a holder for my Jambox. 
			</p>
			<h2>30+ User Needs</h2>
			<small>Latent Needs are identified in <i>italics</i>.</small>
			<ol>
				<li>The holder allows for full Jambox functionality</li>
				<ul>
					<li>The Holder allows for a 3.5mm input</li>
					<li>The holder allows for the power to be turned on</li>
					<li>The holder allows for the device to be in pairing mode</li>
					<li><i>! the holder allows for the Jambox to be charged</i></li>
					<li>The holder allows for Jambox volume to be increased</li>
					<li>The holder allows for Jambox volume to be decreased</li>
					<li>The holder allows for the Circle button to be pressed on the Jambox</li>
					<li>The holder will not impeded the music coming from the front of the Jambox</li>
					<li>The holder will not impeded the music coming from the back of the Jambox</li>
				</ul>
				<li>The holder prevents the Jambox from being damaged</li>
				<ul>				
					<li>The holder will not allow the Jambox to fall through the bottom</li>
					<li>The holder can secure the Jambox from the top</li>
					<li>The holder does not allow the Jambox to fall out of the left side</li>
					<li>The holder does not allow tha Jambox to fall out of the right side</li>
					<li>the holder will protect the Jambox from Rain</li>
					<li>the holder does not rust</li>
					<li>The holder does not stick to the Jambox</li>
					<li>The holder does not damage the Jambox</li>
				</ul>
				<li>The holder is used with a bike</li>
				<ul>				
					<li>The holder can have the Jambox added quickly</li>
					<li>The holder allows the Jambox to be ejected quickly</li>
					<li>The holder requires minimal user effort</li>
					<li>the holder is easily attached to a bike</li>
					<li>the holder stays attached to a bike</li>
					<li>the holder is easily unattached from a bike</li>
					<li>the holder does not slide when attached to a bike</li>
				</ul>
				<li>The Holder has additional utility</li>
				<ul>				
					<li><i>! The holder holds an mobile phone</i></li>
					<li><i>! the holder accommodates a 3.5mm cable</i></li>
					<li>The holder can carry 5 pounds of weight</li>
					<li>the holder does not bend with less than 5 pounds of weight.</li>
					<li>The holder is stylish</li>
					<li>the holder does not have sharp angles</li>
				</ul>
				<li>The holder is modifiable</li>
				<ul>				
					<li>! The holder holds an mobile phone</li>
					<li>! the holder accommodates a 3.5mm cable</li>
					<li>The holder can carry 5 pounds of weight</li>
					<li>the holder does not bend with less than 5 pounds of weight.</li>
					<li>The holder is stylish</li>
					<li>the holder does not have sharp angles</li>
				</ul>
			</ol>
			<h2>The experience gathering user needs</h2>
			<p>
				In determining user needs, one quickly discovers that there are way more elements that are needed to products than initially meets the eye. By breaking out each element into its own line, the volume to work to be considered is immediately clear. Admittedly, the task of combine through each need, and prioritizing them seems daunting, but the value created by completing such an exercise is extremely clear.
			</p>
		</div>
		<!-- <div class="span6">
			<img src="/Grey_Recycle.png">
		</div> -->
	</div>

	<!-- ASSIGNMENT 2.3 -->

	<div class="row-fluid span12">
		<h1>2.3 - Visual Expression (2D Sketches)</h1>
	</div>
	<div class="row-fluid span12">
		<div class="span6">
			<h2>Sketches</h2>
			<p>	
				To the right are the sketches for the 2D Othrographic views of the chair, as well and the cross-section fo the chair.
			</p>
		</div>
		<div class="span6 pull-right">
			<img src="/design/week2/2_3-Chair-Orthographic-CrossSection.png" style="width: 600px; text-align:center;"><br>
			<center>
				<small>2D Orthographic and cross-section</small>
			</center>
			<br>
		</div>
	</div>
</div>