<div class="container">

	<!-- PAGINATION -->

	<div class="row-fluid span12 pagination" style="text-align:center;">
		<p class="text-center">
			Weekly Homework
		</p>
		<ul>
	    	<li><a href="/week2">&laquo; Older Week</a></li>
		    <li><a href="/week1">1</a></li>
		    <li><a href="/week2">2</a></li>
		    <li class="active"><a href="/week3">3</a></li>
		    <li><a href="/week4">4</a></li>
		    <li><a href="/week5">5</a></li>
		    <li><a href="/week6">6</a></li>
		    <li><a href="/week7">7</a></li>
		    <li><a href="/week8">8</a></li>
		    <li><a href="/week4">Newer Week &raquo;</a></li>
		</ul>
	</div>

	<!-- ASSIGNMENT 3.1 -->

	<div class="row-fluid span12">
		<div class="span6">
			<h1>3.1 - Assignment 1</h1>
			<p>
				THis is a picture of a rubberized cable wrap. It's incredible, and one of my favorite little items, as I use it to neatly organize all of my electronic cables (iPhone cable, 30-pin connector, micro-USB, etc) in a simple and effective method. Previously, I had used binder clips to organize my cables, but they proved to be cumbersome. 
				<br>
				<br>
				The rubberized cables are the only way to go.
			</p>
		</div>
		<div class="span6">
			<img src="/Grey_Recycle.png">
		</div>
	</div>
</div>