<div class="clientHeader homepage">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 ">
				<h1>Welcome</h1>
				<!-- <h1>Aveda</h1> -->
				<p>I'm learning some code and playing aorund with it here. It's all a work in process. You know, like life.</p>
			</div> <!--Header info -->
		</div> <!-- Row -->
	</div> <!-- Container -->
</div> <!-- ClientHeader -->

<!-- CTA BUTTONS -->

<div class="container">
	<div class="col-xs-12 col-sm-offset-3 col-md-4 col-md-offset-4">
		<div class="col-xs-3 col-sm-3"><a href="http://www.twitter.com/bimschleger"><i class="fa fa-twitter fa-lg"></i></a></div>
		<div class="col-xs-3 col-sm-3"><a href="http://www.linkedin.com/in/brianbimschleger"><i class="fa fa-linkedin fa-lg"></i></a></div>
		<!-- <div class="clearfix visible-xs"></div> -->
		<div class="col-xs-3 col-sm-3"><a href="mailto:brian@bimschleger.com?subject=I saw your site, and I'd like to chat"><i class="fa fa-envelope fa-lg"></i></a></div>
		<div class="col-xs-3 col-sm-3"><a href="https://www.dropbox.com/s/rb1skhp0dwjn6uw/Resume-BrianBimschleger.pdf"><i class="fa fa-file-text fa-lg cta cta-twitter"></i></a></div>
	</div> <!-- Detail Column -->
</div> <!-- Container -->

<!-- VERIZON WIRELESS -->

<div class="container">
    <div class="col-sm-6 col-lg-4">
    	<div class="col-xs-12">
		    <h3>Verizon Wireless</h3>
			<p>Created visual &amp; interactive self-support content for customers, as well as digital tools for call center representatives. Also developed educational content for use in retail locations, including a tablet experience for Customer Experience Specialists to guide Wireless Workshops.</p>
			<a href="/verizon" class="btn btn-primary" role="button">Primary link</a>
		</div> <!-- Detail -->
    </div> <!-- Detail Column -->

<!-- SMASHBOX -->

    <div class="col-sm-6 col-lg-4">
    	<div class="col-xs-12">
		    <h3>Smashbox Cosmetics</h3>
			<p>A Facebook app for users to create an image to say what “Love Me” meant to them by uploading an image into a template and adding their own text. As users’ images were to be streamed on a digital billboard in Hollywood., CA, custom emails were sent to each user, with the specific date & time that their billboard would be live, as well as a link to a live video stream online for users to see their billboard</p>
			<a href="/smashbox" class="btn btn-primary" role="button">Primary link</a>
		</div> <!-- Detail -->
    </div> <!-- Detail Column -->

<!-- AVEDA -->

    <div class="col-sm-6 col-lg-4">
    	<div class="col-xs-12">
		    <h3>Aveda</h3>
			<p>A digital advertising campaign for invati hair Solutions , with the goal of reaching 1,000,000 Facebook fans. Starting at 700,000 fans, tactics included Facebook display ads, Facebook Exchange Beta program, Key Influencer Outreach via Klout, and Rich Media ads.</p>
			<a href="/aveda" class="btn btn-primary" role="button">Primary link</a>
		</div> <!-- Detail -->
    </div> <!-- Detail Column -->
    <div class="clearfix visible-lg"></div> <!-- Clears the row when >1200px-->

<!-- PRUDENTIAL RETIREMENT -->

    <div class="col-sm-6 col-lg-4">
    	<div class="col-xs-12">
		    <h3>Prudential Retirement</h3>
			<p>Developed digital sales materials for use on iPads to aid in new business pitches. Developed digital personas based on existing user types, then concepted, designed, & developed their customer journeys.</p>
			<a href="/prudential" class="btn btn-primary" role="button">Primary link</a>
		</div> <!-- Detail -->
    </div> <!-- Detail Column -->
    <div class="clearfix visible-sm visible-md"></div> <!-- Clears the row when >978px and <1200px-->

<!-- CHIQUITA APPLE TRAPPER -->

    <div class="col-sm-6 col-lg-4">
    	<div class="col-xs-12">
		    <h3>Chiquita Apple Trapper</h3>
			<p>Building off of the 2011 campaign & Avocados, launched a ramified digital coupon experience on Facebook that rewarded high scores with higher coupon values.</p>
			<a href="/chiquita-appletrapper" class="btn btn-primary" role="button">Primary link</a>
		</div> <!-- Detail -->
    </div> <!-- Detail Column -->
    <!-- <div class="clearfix visible-sm visible-md visible-lg"></div> -->

<!-- CHIQUITA HEALTHY SNACKS -->

    <div class="col-sm-6 col-lg-4">
    	<div class="col-xs-12">
		    <h3>Chiquita Healthy Snacks</h3>
			<p>First digital ad campaign for Chiquita Healthy Snacks, including Apple Bites & Duos. Tactics including Facebook ads, display ads, Key Influencer Outreach, social media management, and crowdsourced video contest.</p>
			<a href="/chiquita" class="btn btn-primary" role="button">Primary link</a>
		</div> <!-- Detail -->
    </div> <!-- Detail Column -->
    <div class="clearfix visible-sm visible-md"></div> <!-- Clears the row when >978px and <1200px-->
</div> <!-- Container -->