<div class="row">
    <div class="span8 offset2 NavRow">
      <a href="/work" class="NavItem NavWork" id="WorkFill"><span>WORK</span></a>
      <a href="/play" class="NavItem NavPlay" id="Play"><span>PLAY</span></a>
      <a href="http://blog.bimschleger.com" class="NavItem NavBlog" id="Blog"><span>BLOG</span></a>
  </div>
</div>

<div class="row-fluid">
	<div class="span8 offset2">
		<h1 class="PageTitle" id="WorkText">CLIENTS</h1>
	</div>
</div>

<div class="row-fluid">
	<div class="span6 offset3 PageDetail">
		Below is a list of terrific Clients, with whom I've had the extreme pleasure of working. Projects have varied, but always featured an intense focus on digital experiences. I've paticipated in game development, media campaigns, educational content, and social media management.
	</div>
</div>

<div class="row space">
	<a href="mailto:brian@bimschelger.com">
		<div class="span4 offset4 CTA">
			<p>Get in touch</p>
		</div>
	</a>
</div>

<div class="row" style="padding-top: 10px;">
	<a href="/resume">
		<div class="span4 offset4 CTA">
			<p>Check out my resum&eacute;</p>
		</div>
	</a>
</div>

<div class="row space">
	<div class="span8 offset2">
		<div class="row">
			<div class="span2 hidden-phone">
				<div Class="WorkLogo" id="aveda">
					<img src="/logos/aveda.png">
				</div>
			</div>
			<div class="span6">
				<p class="TopicTitle" id="WorkText">aveda</p>
				<p class="TopicDetail">This project began in May of 2013</p>
				<p>Concepted &amp; managed the digital ad campaign for the invati hair care solution, which eventually surpassed the goal of 1,000,000 Facebook fans. Tactics included Facebook display ads, Facebook Exchange Beta program, Key Influencer Outreach via Klout, and Rich Media ads (Spongecell &amp; YouTube ads).</p>
				<a href="http://www.spongecell.com/gallery/concept/631/creative/282778"><span class="SubjectLinks">Spongecell Ad</span></a>
				<a href="http://www.youtube.com/watch?v=tpabiyBZXnI"><span class="SubjectLinks">YouTube Ad</span></a>
			</div>
		</div>
	</div>
</div>

<div class="row space">
	<div class="span8 offset2">
		<div class="row">
			<div class="span2 hidden-phone">
				<div Class="WorkLogo" id="verizon">
					<img src="/logos/verizon.png">
				</div>
			</div>
			<div class="span6">
				<p class="TopicTitle" id="WorkText">Verizon wireless</p>
				<p class="TopicDetail">This project began in May of 2013</p>
				<p>Created visual &amp; interactive self-support content for customers, as well as digital tools for call center representatives. Also developed educational content for use in retail locations, including a tablet experience for Customer Experience Specialists to guide Wireless Workshops.</p>
				<a href="http://support.verizonwireless.com/simulator/Samsung/galaxys4_jb/index.php"><span class="SubjectLinks">Samasung Galaxy S4 Simulator</span></a>
			</div>
		</div>
	</div>
</div>

<div class="row space">
	<div class="span8 offset2">
		<div class="row">
			<div class="span2 hidden-phone">
				<div Class="WorkLogo" id="smashbox">
					<img src="/logos/smashbox.png">
				</div>
			</div>
			<div class="span6">
				<p class="TopicTitle" id="WorkText">smashbox cosmetics</p>
				<p class="TopicDetail">This project launched in January of 2013</p>
				<p>Concepted & developed a Facebook app for users to create an image to say what “Love Me” meant to them by uploading an image into a template and adding their own text.  As users’ images were to be streamed on a digital billboard in Hollywood., CA,  custom emails were sent to each user, with the specific date &amp; time that their billboard would be live, as well as a link to a live video stream online for users to see their billboard</p>
				<a href="http://smashbox-loveme-bb.herokuapp.com/"><span class="SubjectLinks">Billboard Creator</span></a>
			</div>
		</div>
	</div>
</div>

<div class="row space">
	<div class="span8 offset2">
		<div class="row">
			<div class="span2 hidden-phone">
				<div Class="WorkLogo" id="chiquita">
					<img src="/logos/chiquita.png">
				</div>
			</div>
			<div class="span6">
				<p class="TopicTitle" id="WorkText">chiquita healthy snacks digital campaign</p>
				<p class="TopicDetail">This project launched in June of 2011</p>
				<p>Launched the first digital ad campaign for Chiquita Apple Bites, with tactics including Facebook ads, display ads, Key Influencer Outreach, social media management, and crowdsourced video contest. In 2012, a Facebook game (Apple Trapper) was developed to incentivize repeat plays through increased coupon values.</p>
				<a href="http://www.chiquita.com/Products/Healthy-Snacks/Chiquita-Bites-and-Fruit-Chips-Store-Locator.aspx"><span class="SubjectLinks">Product Locator</span></a>
				<a href="http://chiquita-apples-game-fb.herokuapp.com/"><span class="SubjectLinks">Apple Trapper Game</span></a>
			</div>
		</div>
	</div>
</div>

<div class="row space">
	<div class="span8 offset2">
		<div class="row">
			<div class="span2 hidden-phone">
				<div Class="WorkLogo" id="chiquita">
					<img src="/logos/chiquita.png">
				</div>
			</div>
			<div class="span6">
				<p class="TopicTitle" id="WorkText">chiquita apple trapper game</p>
				<p class="TopicDetail">This project launched in June of 2011</p>
				<p>Launched the first digital ad campaign for Chiquita Apple Bites, with tactics including Facebook ads, display ads, Key Influencer Outreach, social media management, and crowdsourced video contest. In 2012, a Facebook game (Apple Trapper) was developed to incentivize repeat plays through increased coupon values.</p>
				<a href="http://www.chiquita.com/Products/Healthy-Snacks/Chiquita-Bites-and-Fruit-Chips-Store-Locator.aspx"><span class="SubjectLinks">Product Locator</span></a>
				<a href="http://chiquita-apples-game-fb.herokuapp.com/"><span class="SubjectLinks">Apple Trapper Game</span></a>
			</div>
		</div>
	</div>
</div>

<div class="row space">
	<div class="span8 offset2">
		<div class="row">
			<div class="span2 hidden-phone">
				<div Class="WorkLogo" id="prudential">
					<img src="/logos/prudential.png">
				</div>
			</div>
			<div class="span6">
				<p class="TopicTitle" id="WorkText">prudential retirement</p>
				<p class="TopicDetail">This project launch in March of 2013</p>
				<p>Developed digital sales materials for use on iPads to aid in new business pitches. Developed digital personas based on existing user types, then concepted, designed, &amp; developed their customer journeys.</p>
				<a href="http://prudential-map-maria.herokuapp.com/"><span class="SubjectLinks">Maria Experience</span></a>
				<a href="http://prudential-map-susan.herokuapp.com/"><span class="SubjectLinks">Susan Experience</span></a>
				<a href="http://prudential-map-stan.herokuapp.com/"><span class="SubjectLinks">Stan Experience</span></a>
			</div>
				
		</div>
	</div>
</div>

<div class="row space">
	<div class="span8 offset2">
		<div class="row">
			<div class="span2 hidden-phone">
				<div Class="WorkLogo" id="chiquita">
					<img src="/logos/chiquita.png">
				</div>
			</div>
			<div class="span6">
				<p class="TopicTitle" id="WorkText">chiquita avocados</p>
				<p class="TopicDetail">This project launched in September of 2011</p>
				<p>Developed an interactive Facebook game in which total Shares in a specific amount of time determined the value of a coupon. Gained over 20,000 Facebook fans in 2 months without any paid media support.</p>
				<!-- <a href="#"><span class="SubjectLinks">Creative</span></a>
				<a href="#"><span class="SubjectLinks">Strategy</span></a>
				<a href="#"><span class="SubjectLinks">Media</span></a> -->
			</div>
		</div>
	</div>
</div>

<div class="row space">
	<div class="span8 offset2">
		<div class="row">
			<div class="span2 hidden-phone">
				<div Class="WorkLogo" id="riunite">
					<img src="/logos/riunite.png">
				</div>
			</div>
			<div class="span6">
				<p class="TopicTitle" id="WorkText">riunite sweet wines</p>
				<p class="TopicDetail">This project launched in June of 2012</p>
				<p>Launched a bilingual digital campaign to support the new product launch. Tactics included social page (Facebook, Twitter, Pinterest, Spotify, YouTube) creation, social media management, display ads, Key Influencer Outreach, new website, and a variety of social contests aimed to increase brand awareness &amp; purchase.</p>
				<a href="http://riunite-sweet.herokuapp.com/en"><span class="SubjectLinks">Website</span></a>
				<a href="https://www.facebook.com/Riunite?ref=br_tf"><span class="SubjectLinks">Facebook</span></a>
				<a href="http://modea-addy-2012-campaigns.herokuapp.com/spotify.html"><span class="SubjectLinks">Spotify Radio Ad</span></a>
			</div>
		</div>
	</div>
</div>