<div class="row">
    <div class="span8 offset2 NavRow">
      <a href="/work" class="NavItem" id="WorkFill"><span>WORK</span></a>
      <a href="/play" class="NavItem" id="Play"><span>PLAY</span></a>
      <a href="http://blog.bimschleger.com" class="NavItem" id="Blog"><span>BLOG</span></a>
  </div>
</div>

<div class="row-fluid">
	<div class="span8 offset2">
		<h1 class="PageTitle" id="WorkText">CLIENTS</h1>
	</div>
</div>

<div class="row-fluid">
	<div class="span6 offset3 PageDetail">
		Bacon ipsum dolor sit amet pork fatback jowl, beef ribs kevin chicken ham meatloaf spare ribs chuck bacon. Sirloin cow ribeye meatball, ham swine shankle pig corned beef. Meatball pork loin pork chop andouille bresaola ribeye.
	</div>
</div>

<div class="row space">
	<a href="mailto:brian@bimschelger.com">
		<div class="span4 offset4 CTA">
			<p>Get in touch</p>
		</div>
	</a>
</div>

<div class="row" style="padding-top: 10px;">
	<a href="/resume">
		<div class="span4 offset4 CTA">
			<p>Check out my resum&eacute;</p>
		</div>
	</a>
</div>

<div class="row space">
	<div class="span8 offset2">
		<div class="row">
			<div class="span2 hidden-phone">
				<div Class="WorkLogo" id="aveda">
					<img src="/logos/aveda.png">
				</div>
			</div>
			<div class="span6">
				<p class="TopicTitle" id="WorkText">aveda</p>
				<p class="TopicDetail">This project launched in January of 2013</p>
				<p>Bacon ipsum dolor sit amet bacon tail turducken pancetta t-bone, drumstick spare ribs. Flank kevin short loin doner ham hock frankfurter. Kevin capicola ham pork chop rump, spare ribs shankle meatloaf tongue brisket cow leberkas. Frankfurter flank R.</p>
				<a href="#"><span class="SubjectLinks">Creative</span></a>
				<a href="#"><span class="SubjectLinks">Strategy</span></a>
				<a href="#"><span class="SubjectLinks">Media</span></a>
			</div>
				
		</div>
	</div>
</div>

<div class="row space">
	<div class="span8 offset2">
		<div class="row">
			<div class="span2 hidden-phone">
				<div Class="WorkLogo" id="verizon">
					<img src="/logos/verizon.png">
				</div>
			</div>
			<div class="span6">
				<p class="TopicTitle" id="WorkText">Verizon wireless</p>
				<p class="TopicDetail">This project began in May of 2013</p>
				<p>Bacon ipsum dolor sit amet bacon tail turducken pancetta t-bone, drumstick spare ribs. Flank kevin short loin doner ham hock frankfurter. Kevin capicola ham pork chop rump, spare ribs shankle meatloaf tongue brisket cow leberkas. Frankfurter flank R.</p>
				<a href="#"><span class="SubjectLinks">Creative</span></a>
				<a href="#"><span class="SubjectLinks">Strategy</span></a>
				<a href="#"><span class="SubjectLinks">Media</span></a>
			</div>
				
		</div>
	</div>
</div>

<div class="row space">
	<div class="span8 offset2">
		<div class="row">
			<div class="span2 hidden-phone">
				<div Class="WorkLogo" id="smashbox">
					<img src="/logos/smashbox.png">
				</div>
			</div>
			<div class="span6">
				<p class="TopicTitle" id="WorkText">smashbox cosmetics</p>
				<p class="TopicDetail">This project launched in January of 2013</p>
				<p>Bacon ipsum dolor sit amet bacon tail turducken pancetta t-bone, drumstick spare ribs. Flank kevin short loin doner ham hock frankfurter. Kevin capicola ham pork chop rump, spare ribs shankle meatloaf tongue brisket cow leberkas. Frankfurter flank R.</p>
				<a href="#"><span class="SubjectLinks">Creative</span></a>
				<a href="#"><span class="SubjectLinks">Strategy</span></a>
				<a href="#"><span class="SubjectLinks">Media</span></a>
			</div>
				
		</div>
	</div>
</div>

<div class="row space">
	<div class="span8 offset2">
		<div class="row">
			<div class="span2 hidden-phone">
				<div Class="WorkLogo" id="chiquita">
					<img src="/logos/chiquita.png">
				</div>
			</div>
			<div class="span6">
				<p class="TopicTitle" id="WorkText">chiquita healthy snacks</p>
				<p class="TopicDetail">This project launched in June of 2011</p>
				<p>Bacon ipsum dolor sit amet bacon tail turducken pancetta t-bone, drumstick spare ribs. Flank kevin short loin doner ham hock frankfurter. Kevin capicola ham pork chop rump, spare ribs shankle meatloaf tongue brisket cow leberkas. Frankfurter flank R.</p>
				<a href="#"><span class="SubjectLinks">Creative</span></a>
				<a href="#"><span class="SubjectLinks">Strategy</span></a>
				<a href="#"><span class="SubjectLinks">Media</span></a>
			</div>
				
		</div>
	</div>
</div>

<div class="row space">
	<div class="span8 offset2">
		<div class="row">
			<div class="span2 hidden-phone">
				<div Class="WorkLogo" id="prudential">
					<img src="/logos/prudential.png">
				</div>
			</div>
			<div class="span6">
				<p class="TopicTitle" id="WorkText">prudential retirement</p>
				<p class="TopicDetail">This project launched in May of 2013</p>
				<p>Bacon ipsum dolor sit amet bacon tail turducken pancetta t-bone, drumstick spare ribs. Flank kevin short loin doner ham hock frankfurter. Kevin capicola ham pork chop rump, spare ribs shankle meatloaf tongue brisket cow leberkas. Frankfurter flank R.</p>
				<a href="#"><span class="SubjectLinks">Creative</span></a>
				<a href="#"><span class="SubjectLinks">Strategy</span></a>
				<a href="#"><span class="SubjectLinks">Media</span></a>
			</div>
				
		</div>
	</div>
</div>

<div class="row space">
	<div class="span8 offset2">
		<div class="row">
			<div class="span2 hidden-phone">
				<div Class="WorkLogo" id="chiquita">
					<img src="/logos/chiquita.png">
				</div>
			</div>
			<div class="span6">
				<p class="TopicTitle" id="WorkText">chiquita avocados</p>
				<p class="TopicDetail">This project launched in September of 2011</p>
				<p>Bacon ipsum dolor sit amet bacon tail turducken pancetta t-bone, drumstick spare ribs. Flank kevin short loin doner ham hock frankfurter. Kevin capicola ham pork chop rump, spare ribs shankle meatloaf tongue brisket cow leberkas. Frankfurter flank R.</p>
				<a href="#"><span class="SubjectLinks">Creative</span></a>
				<a href="#"><span class="SubjectLinks">Strategy</span></a>
				<a href="#"><span class="SubjectLinks">Media</span></a>
			</div>
				
		</div>
	</div>
</div>




