<!-- HEADER -->

<div class="row">
	<div class="span8offset2">
		<h1>WORK</h1>
	</div>
</dov>

<!-- DESCRIPTION -->

<div class="row">
	<div class="span8offset2">
		<p>Bacon ipsum dolor sit amet pork fatback jowl, beef ribs kevin chicken ham meatloaf spare ribs chuck bacon. Sirloin cow ribeye meatball, ham swine shankle pig corned beef. Meatball pork loin pork chop andouille bresaola ribeye.</p>
	</div>
</div>

<!-- CTA BUTTONS -->

<div class="row">
	<a href="mailto:brian@bimschleger.com">
		<div class="span4offset4 CTA" id="work">
			<p>Get in touch</p>
		</div>
	</a>
</div>

<div class="row">
	<a href="/resume">
		<div class="span4offset4 CTA" id="work">
			<p>Check out my resume</p>
		</div>
	</a>
</div>

<!-- VERIZON BLOCK -->

<div class="row">
	<div class="span2offset2 WorkLogo" id="verizon">
		<img src="sample_Images/Grey_Medical.png">
	</div>
	<div class="span6 pull-right">
		<h3>THIS IS A PROJECT THAT I WORKED ON</h3>
	</div>
	<div class="span6 pull-right">
		<p class="topic-timing">This project launched in Month of YYYY</p>
	</div>
	<div class="span6 pull-right">
		<p>Bacon ipsum dolor sit amet bacon tail turducken pancetta t-bone, drumstick spare ribs. Flank kevin short loin doner ham hock frankfurter. Kevin capicola ham pork chop rump, spare ribs shankle meatloaf tongue brisket cow leberkas. Frankfurter flank R.</p>
	</div>
</div>

<!-- SMASHBOX BLOCK -->

<div class="row">
	<div class="span2offset2 WorkLogo" id="smashbox">
		<img src="/Grey_Camera.png">
	</div>
	<div class="span6 pull-right">
		<h3>THIS IS A PROJECT THAT I WORKED ON</h3>
	</div>
	<div class="span6 pull-right">
		<p class="topic-timing">This project launched in Month of YYYY</p>
	</div>
	<div class="span6 pull-right">
		<p>Bacon ipsum dolor sit amet bacon tail turducken pancetta t-bone, drumstick spare ribs. Flank kevin short loin doner ham hock frankfurter. Kevin capicola ham pork chop rump, spare ribs shankle meatloaf tongue brisket cow leberkas. Frankfurter flank R.</p>
	</div>
</div>