<!-- Navigation -->

<div class="row">
    <div class="col-8 col-offset2 NavRow">
      <a href="/work" class="NavItem NavWork" id="WorkFill"><span>WORK</span></a>
      <a href="/play" class="NavItem NavPlay" id="Play"><span>PLAY</span></a>
      <a href="http://blog.bimschleger.com" class="NavItem NavBlog" id="Blog"><span>BLOG</span></a>
  	</div>
</div>

<!-- Page title -->

<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<h1 class="PageTitle" id="WorkText">CLIENTS</h1>
	</div>
</div>

<!-- Page description -->

<div class="row">
	<div class="col-sm-6 col-sm-offset-3 PageDetail">
		Below is a list of terrific Clients, with whom I've had the extreme pleasure of working. Projects have varied, but always featured an intense focus on digital experiences. I've paticipated in game development, media campaigns, educational content, and social media management.
	</div>
</div>

<!-- CTA Button row -->

<div class="row space">
	<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
		<div class="row">
			<div class="col-xs-6 col-sm-3 CTA-row"><a href="http://www.twitter.com/bimschleger"><i class="fa fa-twitter fa-lg cta cta-twitter"></i></a></div>
			<div class="col-xs-6 col-sm-3 CTA-row"><a href="http://www.linkedin.com/in/brianbimschleger"><i class="fa fa-linkedin fa-lg cta cta-linkedin"></i></a></div>
			<div class="clearfix visible-xs"></div>
			<div class="col-xs-6 col-sm-3 CTA-row"><a href="mailto:brian@bimschleger.com?subject=I saw your site, and I'd like to chat"><i class="fa fa-envelope fa-lg cta cta-envelope"></i></a></div>
			<div class="col-xs-6 col-sm-3 CTA-row"><a href="/resume"><i class="fa fa-file-text fa-lg cta cta-twitter"></i></a></div>
		</div>
	</div>
</div>

<!-- test1 -->

<div class="row space">
    <div class="col-sm-6 col-lg-4 WorkHeight">
	    <div style="border: 1px solid #ff6666;">
	    	<img src="/logos/aveda.png" class="col-xs-12 WorkLogo" id="aveda">
	    	<div class="col-xs-12">
			    <p class="TopicTitle" id="WorkText">Invati Digital Ad campaign</p>
				<div style="margin-bottom: 15px;">
					<span class="cta cta-role">client service</span>
					<span class="cta cta-role">project management</span>
					<span class="cta cta-role">social strategy</span>
				</div>
				<p class="TopicDetail">Account lead</p>
				<p>A digital advertising campaign for invati hair Solutions , with the goal of reaching 1,000,000 Facebook fans. Starting at 700,000 fans, tactics included Facebook display ads, Facebook Exchange Beta program, Key Influencer Outreach via Klout, and Rich Media ads.</p>
				<ul class="fa-ul">
		    		<li><i class="fa-li fa fa-caret-right"></i>Pitched & won the business</li>
		    		<li><i class="fa-li fa fa-caret-right"></i>Was primary client contact, including status & on-site meetings</li>
		    		<li><i class="fa-li fa fa-caret-right"></i>Managed all scoping, budgets, and estimates for the project</li>
		    		<li><i class="fa-li fa fa-caret-right"></i>Developed social strategy for reaching maximum fans</li>
		    		<li><i class="fa-li fa fa-caret-right"></i>Led client into beta ad programs on Facebook (first to use FBX)</li>
		    	</ul>
				<p class="TopicDetail bottomtest">Project Details</p>
		    	<ul class="fa-ul">
		    		<li><i class="fa-li fa fa-briefcase"></i><span class="TopicDetail">Aveda</span></li>
		    		<li><i class="fa-li fa fa-tag"></i><span class="TopicDetail">Digital advertising, social strategy</span></li>
		    		<li><i class="fa-li fa fa-info"></i><span class="TopicDetail">Health & Beauty</span></li>
		    		<li><i class="fa-li fa fa-calendar"></i><span class="TopicDetail">March 2013 - July 2013</span></li>
		    		<li><i class="fa-li fa fa-user"></i><span class="TopicDetail">Women 35-54, HHI: $100,000+</span></li>
		    		<!-- <li><i class="fa-li fa fa-link"></i><span class="TopicDetail"><a href="#">testtest</a></span></li> -->
		    	</ul>
			</div>
		</div>
    </div>

<!-- test2 -->

    <div class="col-sm-6 col-lg-4 WorkHeight">
	    <div style="border: 1px solid #ff6666;">
	    	<img src="/logos/chiquita.png" class="col-xs-12 WorkLogo" id="chiquita">
	    	<div class="col-xs-12">
			    <p class="TopicTitle" id="WorkText">Healthy Snacks Campaign</p>
				<div style="margin-bottom: 15px;">
					<span class="cta cta-role">Client service</span>
					<span class="cta cta-role">project management</span>
					<span class="cta cta-role">social strategy</span>
				</div>
				<p class="TopicDetail">Accoutn Executive</p>
				<p>First digital ad campaign for Chiquita Healthy Snacks, including Apple Bites & Duos. Tactics including Facebook ads, display ads, Key Influencer Outreach, social media management, and crowdsourced video contest.</p>
				<ul class="fa-ul">
		    		<li><i class="fa-li fa fa-caret-right"></i>Managed all internal communication on the project</li>
		    		<li><i class="fa-li fa fa-caret-right"></i>Eventually became the primary client contact, leading all status meetings & on-site meetings</li>
		    		<li><i class="fa-li fa fa-caret-right"></i>Developed social strategy</li>
		    		<li><i class="fa-li fa fa-caret-right"></i>Launched digital coupons on Facebook, realizing 53% redemption rates (prior to Facebook offers)</li>
		    		<li><i class="fa-li fa fa-caret-right"></i>Created & maintained social management calendar</li>
		    	</ul>
				<p class="TopicDetail bottomtest">Project Details</p>
		    	<ul class="fa-ul">
		    		<li><i class="fa-li fa fa-briefcase"></i><span class="TopicDetail">Chiquita</span></li>
		    		<li><i class="fa-li fa fa-tag"></i><span class="TopicDetail">Digital advertising, digital couponing, social media management</span></li>
		    		<li><i class="fa-li fa fa-info"></i><span class="TopicDetail">Food & Beverage</span></li>
		    		<li><i class="fa-li fa fa-calendar"></i><span class="TopicDetail">January 2011 - July 2011</span></li>
		    		<li><i class="fa-li fa fa-user"></i><span class="TopicDetail">Women, 35-54, HHI: $75,000+</span></li>
		    		<!-- <li><i class="fa-li fa fa-link"></i><span class="TopicDetail"><a href="#">testtest</a></span></li> -->
		    	</ul>
			</div>
		</div>
    </div>
    <div class="clearfix visible-sm visible-md"></div>

<!-- test3 -->

    <div class="col-sm-6 col-lg-4 WorkHeight">
	    <div style="border: 1px solid #ff6666;">
	    	<img src="/logos/chiquita.png" class="col-xs-12 WorkLogo" id="chiquita">
	    	<div class="col-xs-12">
			    <p class="TopicTitle" id="WorkText">Project 3</p>
				<div style="margin-bottom: 15px;">
					<span class="cta cta-role">department1</span>
					<span class="cta cta-role">department2</span>
				</div>
				<p class="TopicDetail">Job Role3</p>
				<p>Bacon ipsum dolor sit amet pork t-bone turkey boudin ribeye fatback hamburger biltong.</p>
				<ul class="fa-ul">
		    		<li><i class="fa-li fa fa-caret-right"></i>Bacon ipsum dolor sit amet pork t-bone turkey boudin ribeye fatback hamburger biltong.</li>
		    		<li><i class="fa-li fa fa-caret-right"></i>Bacon ipsum dolor sit amet pork t-bone turkey boudin ribeye fatback hamburger biltong.</li>
		    		<li><i class="fa-li fa fa-caret-right"></i>Bacon ipsum dolor sit amet pork t-bone turkey boudin ribeye fatback hamburger biltong.</li>
		    		<li><i class="fa-li fa fa-caret-right"></i>Bacon ipsum dolor sit amet pork t-bone turkey boudin ribeye fatback hamburger biltong.</li>
		    		<li><i class="fa-li fa fa-caret-right"></i>Bacon ipsum dolor sit amet pork t-bone turkey boudin ribeye fatback hamburger biltong.</li>
		    	</ul>
				<p class="TopicDetail bottomtest">testing details</p>
		    	<ul class="fa-ul">
		    		<li><i class="fa-li fa fa-briefcase"></i><span class="TopicDetail">testtest</span></li>
		    		<li><i class="fa-li fa fa-tag"></i><span class="TopicDetail">fields</span></li>
		    		<li><i class="fa-li fa fa-info"></i><span class="TopicDetail">industry</span></li>
		    		<li><i class="fa-li fa fa-calendar"></i><span class="TopicDetail">dates</span></li>
		    		<li><i class="fa-li fa fa-user"></i><span class="TopicDetail">target info</span></li>
		    		<li><i class="fa-li fa fa-link"></i><span class="TopicDetail"><a href="#">testtest</a></span></li>
		    	</ul>
			</div>
		</div>
    </div>
    <div class="clearfix visible-lg"></div>

<!-- test4 -->

    <div class="col-sm-6 col-lg-4 WorkHeight">
	    <div style="border: 1px solid #ff6666;">
	    	<img src="/logos/riunite.png" class="col-xs-12 WorkLogo" id="riunite">
	    	<div class="col-xs-12">
			    <p class="TopicTitle" id="WorkText">Project 4</p>
				<div style="margin-bottom: 15px;">
					<span class="cta cta-role">department1</span>
					<span class="cta cta-role">department2</span>
				</div>
				<p class="TopicDetail">Job Role4</p>
				<p>Bacon ipsum dolor sit amet pork t-bone turkey boudin ribeye fatback hamburger biltong.</p>
				<ul class="fa-ul">
		    		<li><i class="fa-li fa fa-caret-right"></i>Bacon ipsum dolor sit amet pork t-bone turkey boudin ribeye fatback hamburger biltong.</li>
		    		<li><i class="fa-li fa fa-caret-right"></i>Bacon ipsum dolor sit amet pork t-bone turkey boudin ribeye fatback hamburger biltong.</li>
		    		<li><i class="fa-li fa fa-caret-right"></i>Bacon ipsum dolor sit amet pork t-bone turkey boudin ribeye fatback hamburger biltong.</li>
		    		<li><i class="fa-li fa fa-caret-right"></i>Bacon ipsum dolor sit amet pork t-bone turkey boudin ribeye fatback hamburger biltong.</li>
		    		<li><i class="fa-li fa fa-caret-right"></i>Bacon ipsum dolor sit amet pork t-bone turkey boudin ribeye fatback hamburger biltong.</li>
		    	</ul>
				<p class="TopicDetail bottomtest">testing details</p>
		    	<ul class="fa-ul">
		    		<li><i class="fa-li fa fa-briefcase"></i><span class="TopicDetail">testtest</span></li>
		    		<li><i class="fa-li fa fa-tag"></i><span class="TopicDetail">fields</span></li>
		    		<li><i class="fa-li fa fa-info"></i><span class="TopicDetail">industry</span></li>
		    		<li><i class="fa-li fa fa-calendar"></i><span class="TopicDetail">dates</span></li>
		    		<li><i class="fa-li fa fa-user"></i><span class="TopicDetail">target info</span></li>
		    		<li><i class="fa-li fa fa-link"></i><span class="TopicDetail"><a href="#">testtest</a></span></li>
		    	</ul>
			</div>
		</div>
    </div>
    <div class="clearfix visible-sm visible-md"></div>

<!-- test5 -->

    <div class="col-sm-6 col-lg-4 WorkHeight">
	    <div style="border: 1px solid #ff6666;">
	    	<img src="/logos/smashbox.png" class="col-xs-12 WorkLogo" id="smashbox">
	    	<div class="col-xs-12">
			    <p class="TopicTitle" id="WorkText">Project 5</p>
				<div style="margin-bottom: 15px;">
					<span class="cta cta-role">department1</span>
					<span class="cta cta-role">department2</span>
				</div>
				<p class="TopicDetail">Job Role5</p>
				<p>Bacon ipsum dolor sit amet pork t-bone turkey boudin ribeye fatback hamburger biltong.</p>
				<ul class="fa-ul">
		    		<li><i class="fa-li fa fa-caret-right"></i>Bacon ipsum dolor sit amet pork t-bone turkey boudin ribeye fatback hamburger biltong.</li>
		    		<li><i class="fa-li fa fa-caret-right"></i>Bacon ipsum dolor sit amet pork t-bone turkey boudin ribeye fatback hamburger biltong.</li>
		    		<li><i class="fa-li fa fa-caret-right"></i>Bacon ipsum dolor sit amet pork t-bone turkey boudin ribeye fatback hamburger biltong.</li>
		    		<li><i class="fa-li fa fa-caret-right"></i>Bacon ipsum dolor sit amet pork t-bone turkey boudin ribeye fatback hamburger biltong.</li>
		    		<li><i class="fa-li fa fa-caret-right"></i>Bacon ipsum dolor sit amet pork t-bone turkey boudin ribeye fatback hamburger biltong.</li>
		    	</ul>
				<p class="TopicDetail bottomtest">testing details</p>
		    	<ul class="fa-ul">
		    		<li><i class="fa-li fa fa-briefcase"></i><span class="TopicDetail">testtest</span></li>
		    		<li><i class="fa-li fa fa-tag"></i><span class="TopicDetail">fields</span></li>
		    		<li><i class="fa-li fa fa-info"></i><span class="TopicDetail">industry</span></li>
		    		<li><i class="fa-li fa fa-calendar"></i><span class="TopicDetail">dates</span></li>
		    		<li><i class="fa-li fa fa-user"></i><span class="TopicDetail">target info</span></li>
		    		<li><i class="fa-li fa fa-link"></i><span class="TopicDetail"><a href="#">testtest</a></span></li>
		    	</ul>
			</div>
		</div>
    </div>

<!-- test6 -->

    <div class="col-sm-6 col-lg-4 WorkHeight">
	    <div style="border: 1px solid #ff6666;">
	    	<img src="/logos/chiquita.png" class="col-xs-12 WorkLogo" id="chiquita">
	    	<div class="col-xs-12">
			    <p class="TopicTitle" id="WorkText">Project 6</p>
				<div style="margin-bottom: 15px;">
					<span class="cta cta-role">department1</span>
					<span class="cta cta-role">department2</span>
				</div>
				<p class="TopicDetail">Job Role6</p>
				<p>Bacon ipsum dolor sit amet pork t-bone turkey boudin ribeye fatback hamburger biltong.</p>
				<ul class="fa-ul">
		    		<li><i class="fa-li fa fa-caret-right"></i>Bacon ipsum dolor sit amet pork t-bone turkey boudin ribeye fatback hamburger biltong.</li>
		    		<li><i class="fa-li fa fa-caret-right"></i>Bacon ipsum dolor sit amet pork t-bone turkey boudin ribeye fatback hamburger biltong.</li>
		    		<li><i class="fa-li fa fa-caret-right"></i>Bacon ipsum dolor sit amet pork t-bone turkey boudin ribeye fatback hamburger biltong.</li>
		    		<li><i class="fa-li fa fa-caret-right"></i>Bacon ipsum dolor sit amet pork t-bone turkey boudin ribeye fatback hamburger biltong.</li>
		    		<li><i class="fa-li fa fa-caret-right"></i>Bacon ipsum dolor sit amet pork t-bone turkey boudin ribeye fatback hamburger biltong.</li>
		    	</ul>
				<p class="TopicDetail bottomtest">testing details</p>
		    	<ul class="fa-ul">
		    		<li><i class="fa-li fa fa-briefcase"></i><span class="TopicDetail">testtest</span></li>
		    		<li><i class="fa-li fa fa-tag"></i><span class="TopicDetail">fields</span></li>
		    		<li><i class="fa-li fa fa-info"></i><span class="TopicDetail">industry</span></li>
		    		<li><i class="fa-li fa fa-calendar"></i><span class="TopicDetail">dates</span></li>
		    		<li><i class="fa-li fa fa-user"></i><span class="TopicDetail">target info</span></li>
		    		<li><i class="fa-li fa fa-link"></i><span class="TopicDetail"><a href="#">testtest</a></span></li>
		    	</ul>
			</div>
		</div>
    </div>
    <div class="clearfix visible-sm visible-md visible-lg"></div>

<!-- test7 -->

    <div class="col-sm-6 col-lg-4 WorkHeight">
	    <div style="border: 1px solid #ff6666;">
	    	<i class="fa fa- fa-terminal col-xs-12 WorkLogo" id="chiquita" style="color: #ffffff"></i>
	    	<div class="col-xs-12">
			    <p class="TopicTitle" id="WorkText">this website</p>
				<div style="margin-bottom: 15px;">
					<span class="cta cta-role">department1</span>
					<span class="cta cta-role">department2</span>
				</div>
				<p class="TopicDetail">Job Role7</p>
				<p>Bacon ipsum dolor sit amet pork t-bone turkey boudin ribeye fatback hamburger biltong.</p>
				<ul class="fa-ul">
		    		<li><i class="fa-li fa fa-caret-right"></i>Bacon ipsum dolor sit amet pork t-bone turkey boudin ribeye fatback hamburger biltong.</li>
		    		<li><i class="fa-li fa fa-caret-right"></i>Bacon ipsum dolor sit amet pork t-bone turkey boudin ribeye fatback hamburger biltong.</li>
		    		<li><i class="fa-li fa fa-caret-right"></i>Bacon ipsum dolor sit amet pork t-bone turkey boudin ribeye fatback hamburger biltong.</li>
		    		<li><i class="fa-li fa fa-caret-right"></i>Bacon ipsum dolor sit amet pork t-bone turkey boudin ribeye fatback hamburger biltong.</li>
		    		<li><i class="fa-li fa fa-caret-right"></i>Bacon ipsum dolor sit amet pork t-bone turkey boudin ribeye fatback hamburger biltong.</li>
		    	</ul>
				<p class="TopicDetail bottomtest">testing details</p>
		    	<ul class="fa-ul">
		    		<li><i class="fa-li fa fa-briefcase"></i><span class="TopicDetail">testtest</span></li>
		    		<li><i class="fa-li fa fa-tag"></i><span class="TopicDetail">fields</span></li>
		    		<li><i class="fa-li fa fa-info"></i><span class="TopicDetail">industry</span></li>
		    		<li><i class="fa-li fa fa-calendar"></i><span class="TopicDetail">dates</span></li>
		    		<li><i class="fa-li fa fa-user"></i><span class="TopicDetail">target info</span></li>
		    		<li><i class="fa-li fa fa-link"></i><span class="TopicDetail"><a href="#">testtest</a></span></li>
		    	</ul>
			</div>
		</div>
    </div>
</div>