<div class="row">
    <div class="span8 offset2 NavRow">
      <a href="/work" class="NavItem NavWork" id="WorkFill"><span>WORK</span></a>
      <a href="/play" class="NavItem NavPlay" id="Play"><span>PLAY</span></a>
      <a href="http://blog.bimschleger.com" class="NavItem NavBlog" id="Blog"><span>BLOG</span></a>
  </div>
</div>

<div class="row-fluid">
	<div class="span8 offset2">
		<h1 class="PageTitle" id="WorkText">CLIENTS</h1>
	</div>
</div>

<div class="row-fluid">
	<div class="span6 offset3 PageDetail">
		Below is a list of terrific Clients, with whom I've had the extreme pleasure of working. Projects have varied, but always featured an intense focus on digital experiences. I've paticipated in game development, media campaigns, educational content, and social media management.
	</div>
</div>

<!-- CTA Button row -->

<div class="row">
	<div class="span12">
		<div class="span6 offset3 CTA-row">
			<a href="http://www.twitter.com/bimschleger"><i class="fa fa-twitter fa-lg cta cta-twitter"></i></a>
			<a href="http://www.linkedin.com/in/brianbimschleger"><i class="fa fa-linkedin fa-lg cta cta-linkedin"></i></a>
			<a href="mailto:brian@bimschleger.com?subject=I saw your site, and I'd like to chat"><i class="fa fa-envelope fa-lg cta cta-envelope"></i></a>
		</div>
	</div>
</div>

<!-- test -->

<div class="row">
	<div class="span10 offset1" style="background-color: #FEFEFA; border: 2px solid #ff6666; box-shadow:2px 2px 3px #aaaaaa;">
		<div class="row">
			<div class="span2 hidden-phone">
				<div Class="WorkLogo" id="verizon">
					<img src="/logos/verizon.png">
				</div>
			</div>
			<div class="span8">
				<p class="TopicTitle space" id="WorkText">wireless workshops</p>
				<div class="row">
					<div class="span5">
						<p class="TopicDetail">Product Design, User Experience,</p>
						<p>in-store tablet-based educational experience. We concepted, design, and created all content.</p>
						<ul class="fa-ul">
				    		<li><i class="fa-li fa fa-chevron-right fa-desc"></i>Di a whole bunch of UX-y stuff, deisgn the product from the ground up</li>
				    		<li><i class="fa-li fa fa-chevron-right fa-desc"></i>facilitated multiple rounds of user testing, analyzed results, then implemented</li>
				    		<li><i class="fa-li fa fa-chevron-right fa-desc"></i>Used in nationwide leadging retail stores such as this one</li>
				    		<li><i class="fa-li fa fa-chevron-right fa-desc"></i>facilitated multiple rounds of user testing, analyzed results, then implemented</li>
				    		<li><i class="fa-li fa fa-chevron-right fa-desc"></i>Used in nationwide leadging retail stores such as this one</li>
				    	</ul>
				    </div>
					<div class="span3">
						<p class="TopicDetail bottomtest">Project Details</p>
				    	<ul class="fa-ul TopicDetail">
				    		<li><i class="fa-li fa fa-briefcase fa-desc"></i>Verizon Wireless Retail</li>
				    		<li><i class="fa-li fa fa-tag fa-desc"></i>Digital Product Development, UX, Wireframing, agile development</li>
				    		<li><i class="fa-li fa fa-info fa-desc"></i>Telecommunications</li>
				    		<li><i class="fa-li fa fa-calendar fa-desc"></i>August 2013-January 2014</li>
				    		<li><i class="fa-li fa fa-user fa-desc"></i>25-35 tech-savvy (primary), 55+ tech-laggard (secondary)</li>
				    		<li><i class="fa-li fa fa-link fa-desc"></i><a href="#">Used in nationwide leadging retail stores</a></li>
				    	</ul>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- Wireless workshop -->

<div class="row space">
	<div class="span10 offset1 rowtest"></div>
	<div class="span2 offset1 hidden-phone">
		<div Class="WorkLogo" id="verizon">
			<img src="/logos/verizon.png">
		</div>
	</div>
	<div class="span8 space"><p class="TopicTitle" id="WorkText">wireless workshops</p></div>
	<div class="span5">
		<p class="TopicDetail">Product Design, User Experience,</p>
		<p>in-store tablet-based educational experience. We concepted, design, and created all content.</p>
		<ul class="fa-ul">
    		<li><i class="fa-li fa fa-chevron-right fa-desc"></i>Di a whole bunch of UX-y stuff, deisgn the product from the ground up</li>
    		<li><i class="fa-li fa fa-chevron-right fa-desc"></i>facilitated multiple rounds of user testing, analyzed results, then implemented</li>
    		<li><i class="fa-li fa fa-chevron-right fa-desc"></i>Used in nationwide leadging retail stores such as this one</li>
    		<li><i class="fa-li fa fa-chevron-right fa-desc"></i>facilitated multiple rounds of user testing, analyzed results, then implemented</li>
    		<li><i class="fa-li fa fa-chevron-right fa-desc"></i>Used in nationwide leadging retail stores such as this one</li>
    	</ul>
    </div>
    <div class="span3">
    	<p class="TopicDetail bottomtest">Project Details</p>
    	<ul class="fa-ul TopicDetail">
    		<li><i class="fa-li fa fa-briefcase fa-lg fa-desc"></i>Verizon Wireless Retail</li>
    		<li><i class="fa-li fa fa-tag fa-lg fa-desc"></i>Digital Product Development, UX, Wireframing, agile development</li>
    		<li><i class="fa-li fa fa-info fa-lg fa-desc"></i>Telecommunications</li>
    		<li><i class="fa-li fa fa-calendar fa-lg fa-desc"></i>August 2013-January 2014</li>
    		<li><i class="fa-li fa fa-user fa-lg fa-desc"></i>25-35 tech-savvy (primary), 55+ tech-laggard (secondary)</li>
    		<li><i class="fa-li fa fa-link fa-lg fa-desc"></i><a href="#">Used in nationwide leadging retail stores</a></li>
    	</ul>
    </div>
</div>

<!-- Aveda -->

<div class="row space">
	<div class="span10 offset1 hidden-phone rowtest"></div>
	<div class="span2 offset1 hidden-phone">
		<div Class="WorkLogo" id="aveda">
			<img src="/logos/aveda.png">
		</div>
	</div>
	<div class="span8 space"><p class="TopicTitle" id="WorkText">invati digital ad cmapaign</p></div>
	<div class="span5">
		<p class="TopicDetail bottomtest">Account Lead</p>
		<p>Concepted &amp; managed the digital ad campaign for the invati hair care solution, which eventually surpassed the goal of 1,000,000 Facebook fans. Tactics included Facebook display ads, Facebook Exchange Beta program, Key Influencer Outreach via Klout, and Rich Media ads (Spongecell &amp; YouTube ads).</p>
		<ul class="fa-ul">
    		<li><i class="fa-li fa fa-chevron-right fa-desc"></i>Pitched an won the business</li>
    		<li><i class="fa-li fa fa-chevron-right fa-desc"></i>Primary client contact, amnaged allc otnracts, budgets, and hours.</li>
    		<li><i class="fa-li fa fa-chevron-right fa-desc"></i>Heavily involved in concepting of social thmematic, which was used to represent invati across all Aveda social media networks</li>
    		<li><i class="fa-li fa fa-chevron-right fa-desc"></i>Created, curated, and designed all presentations for pitches, client reviews, and agency reviews</li>
    		<li><i class="fa-li fa fa-chevron-right fa-desc"></i>UDid a whole bunch of other stuff</li>
    	</ul>
    </div>
    <div class="span3">
    	<p class="TopicDetail bottomtest">PROJECT DETAILS</p>
    	<ul class="fa-ul TopicDetail">
    		<li><i class="fa-li fa fa-briefcase fa-desc"></i>Aveda</li>
    		<li><i class="fa-li fa fa-tag fa-desc"></i>Social Media management, SOcial ad campaigns, Facebook ad beta programs, hypertargeting, key influencer outreach</li>
    		<li><i class="fa-li fa fa-info fa-desc"></i>Helath and Beauty</li>
    		<li><i class="fa-li fa fa-calendar fa-desc"></i>January 2013-August 2013</li>
    		<li><i class="fa-li fa fa-dot-circle-o fa-desc"></i>Women, 35-54, HHI: $75,000+, Experiencing thinning hair, interested in Organic products</li>
    		<li><i class="fa-li fa fa-link fa-desc"></i><a href="#">Example rich-media ad</a></li>
    	</ul>
    </div>
</div>

<!-- Smashbox -->

<div class="row space">
	<div class="span10 offset1 hidden-phone rowtest"></div>
	<div class="span2 offset1 hidden-phone">
		<div Class="WorkLogo" id="smashbox">
			<img src="/logos/smashbox.png">
		</div>
	</div>
	<div class="span8 space"><p class="TopicTitle" id="WorkText">"Love Me" Digital Billboard Webapp</p></div>
	<div class="span5">
		<p class="TopicDetail bottomtest">Product Design, Account Lead, Project Manager</p>
		<p>oncepted &amp; developed a Facebook app for users to create an image to say what “Love Me” meant to them by uploading an image into a template and adding their own text.  As users’ images were to be streamed on a digital billboard in Hollywood., CA,  custom emails were sent to each user, with the specific date &amp; time that their billboard would be live, as well as a link to a live video stream online for users to see their billboard.</p>
		<ul class="fa-ul">
    		<li><i class="fa-li fa fa-chevron-right"></i>Pitched and won the business</li>
    		<li><i class="fa-li fa fa-chevron-right"></i>Primary client contact, managed all cotnracts, budgets, and hours.</li>
    		<li><i class="fa-li fa fa-chevron-right"></i>Worked directly with development team over the course of the entire project</li>
    		<li><i class="fa-li fa fa-chevron-right"></i>Concepted the entire digital experience</li>
    		<li><i class="fa-li fa fa-chevron-right"></i>Worked directly with Digital Out-of-Home (DOOH) media partners to get campaign working.</li>
    	</ul>
    </div>
    <div class="span3">
    	<p class="TopicDetail bottomtest">PROJECT DETAILS</p>
    	<ul class="fa-ul TopicDetail">
    		<li><i class="fa-li fa fa-briefcase"></i>Smashbox Cosmetics</li>
    		<li><i class="fa-li fa fa-tag"></i>Digital product developemnt, social integration, DOOH, Facebook apps</li>
    		<li><i class="fa-li fa fa-info"></i>Helath and Beauty</li>
    		<li><i class="fa-li fa fa-calendar"></i>January 2013-March 2013</li>
    		<li><i class="fa-li fa fa-dot-circle-o"></i>Women, 25-34, HHI: $55,000+, Heavy usage of digital, expressive</li>
    		<li><i class="fa-li fa fa-link"></i><a href="http://smashbox-loveme-bb.herokuapp.com/">Live Billboard creator</a></li>
    	</ul>
    </div>
</div>


<!-- Chiquita Apple Trapper -->


<div class="row space ">
	<!-- <div class="span10 offset1 hidden-phone rowtest2"> -->
		<div class="span2 offset1 hidden-phone">
			<div Class="WorkLogo" id="chiquita">
				<img src="/logos/chiquita.png">
			</div>
		</div>
		<div class="span8 space"><p class="TopicTitle" id="WorkText">Chiquita Apple Trapper Game</p></div>
		<div class="span5">
			<p class="TopicDetail bottomtest">Product Design, Account Lead, Project Manager, User Experience</p>
			<p>Building on the earlier success of the <a href="#">Chiquita Avocados</a> project, we built a Facebook game, where digital coupons could be earned through repeats plays. There was paid media support</p>
			<ul class="fa-ul">
	    		<li><i class="fa-li fa fa-chevron-right"></i>Grew this project from existing business</li>
	    		<li><i class="fa-li fa fa-chevron-right"></i>Primary client contact, managed all cotnracts, budgets, and hours.</li>
	    		<li><i class="fa-li fa fa-chevron-right"></i>Worked directly with development team over the course of the entire project</li>
	    		<li><i class="fa-li fa fa-chevron-right"></i>Concepted the game, and led revisions</li>
	    	</ul>
	    </div>
	    <div class="span3">
	    	<p class="TopicDetail bottomtest">PROJECT DETAILS</p>
	    	<ul class="fa-ul TopicDetail">
	    		<li><i class="fa-li fa fa-briefcase"></i>Chiquita Healthy Snacks</li>
	    		<li><i class="fa-li fa fa-tag"></i>Digital product developemnt, Facebook app, Digital couponing, digital media</li>
	    		<li><i class="fa-li fa fa-info"></i>Food and Beverage, CPG</li>
	    		<li><i class="fa-li fa fa-calendar"></i>January 2013-March 2013</li>
	    		<li><i class="fa-li fa fa-dot-circle-o"></i>Women, 35-54, HHI: $75,000+, heavy coupon users, expressive</li>
	    		<li><i class="fa-li fa fa-link"></i><a href="http://chiquita-apples-game-fb.herokuapp.com/">Apple Trapper game</a></li>
	    	</ul>
	    </div>
	<!-- </div> -->
</div>


<!-- Chiquita Healthy Snack Digital Cmapaign -->


<div class="row space">
	<div class="span10 offset1 hidden-phone rowtest"></div>
	<div class="span2 offset1 hidden-phone">
		<div Class="WorkLogo" id="chiquita">
			<img src="/logos/chiquita.png">
		</div>
	</div>
	<div class="span8 space"><p class="TopicTitle" id="WorkText">"Love Me" Digital Billboard Webapp</p></div>
	<div class="span5">
		<p class="TopicDetail bottomtest">Product Design, Account Lead, Project Manager</p>
		<p>Launched the first digital ad campaign for Chiquita Apple Bites, with tactics including Facebook ads, display ads, Key Influencer Outreach, social media management, and crowdsourced video contest. In 2012, a Facebook game (Apple Trapper) was developed to incentivize repeat plays through increased coupon values.</p>
		<ul class="fa-ul">
    		<li><i class="fa-li fa fa-chevron-right"></i>Pitched and won the business</li>
    		<li><i class="fa-li fa fa-chevron-right"></i>Primary client contact, managed all cotnracts, budgets, and hours.</li>Worked directly with development team over the course of the entire project</li>
    		<li><i class="fa-li fa fa-chevron-right"></i>Concepted the entire digital experience</li>
    		<li><i class="fa-li fa fa-chevron-right"></i>Worked directly with Digital Out-of-Home (DOOH) media partners to get campaign working.</li>
    	</ul>
    </div>
    <div class="span3">
    	<p class="TopicDetail bottomtest">PROJECT DETAILS</p>
    	<ul class="fa-ul TopicDetail">
    		<li><i class="fa-li fa fa-briefcase"></i>Smashbox Cosmetics</li>
    		<li><i class="fa-li fa fa-tag"></i>Digital product developemnt, social integration, DOOH, Facebook apps</li>
    		<li><i class="fa-li fa fa-info"></i>Helath and Beauty</li>
    		<li><i class="fa-li fa fa-calendar"></i>January 2013-March 2013</li>
    		<li><i class="fa-li fa fa-dot-circle-o"></i>Women, 25-34, HHI: $55,000+, Heavy usage of digital, expressive</li>
    		<li><i class="fa-li fa fa-link"></i><a href="http://smashbox-loveme-bb.herokuapp.com/">Live Billboard creator</a></li>
    	</ul>
    </div>
</div>


<!-- Chiquita Avocados -->


<div class="row space">
	<div class="span10 offset1 hidden-phone rowtest"></div>
	<div class="span2 offset1 hidden-phone">
		<div Class="WorkLogo" id="chiquita">
			<img src="/logos/chiquita.png">
		</div>
	</div>
	<div class="span8 space"><p class="TopicTitle" id="WorkText"><p>"Love Me" Digital Billboard Webapp</p></div>
	<div class="span5">
		<p class="TopicDetail bottomtest">Product Design, Account Lead, Project Manager</p>
		<p>Launched the first digital ad campaign for Chiquita Apple Bites, with tactics including Facebook ads, display ads, Key Influencer Outreach, social media management, and crowdsourced video contest. In 2012, a Facebook game (Apple Trapper) was developed to incentivize repeat plays through increased coupon values.</p>
		<ul class="fa-ul">
    		<li><i class="fa-li fa fa-chevron-right"></i>Pitched and won the business</li>
    		<li><i class="fa-li fa fa-chevron-right"></i>Primary client contact, managed all cotnracts, budgets, and hours.</li>Worked directly with development team over the course of the entire project</li>
    		<li><i class="fa-li fa fa-chevron-right"></i>Concepted the entire digital experience</li>
    		<li><i class="fa-li fa fa-chevron-right"></i>Worked directly with Digital Out-of-Home (DOOH) media partners to get campaign working.</li>
    	</ul>
    </div>
    <div class="span3">
    	<p class="TopicDetail bottomtest">PROJECT DETAILS</p>
    	<ul class="fa-ul TopicDetail">
    		<li><i class="fa-li fa fa-briefcase"></i>Smashbox Cosmetics</li>
    		<li><i class="fa-li fa fa-tag"></i>Digital product developemnt, social integration, DOOH, Facebook apps</li>
    		<li><i class="fa-li fa fa-info"></i>Helath and Beauty</li>
    		<li><i class="fa-li fa fa-calendar"></i>January 2013-March 2013</li>
    		<li><i class="fa-li fa fa-dot-circle-o"></i>Women, 25-34, HHI: $55,000+, Heavy usage of digital, expressive</li>
    		<li><i class="fa-li fa fa-link"></i><a href="http://smashbox-loveme-bb.herokuapp.com/">Live Billboard creator</a></li>
    	</ul>
    </div>
</div>


<!-- Prudential Retirement -->

<div class="row space">
	<div class="span10 offset1 hidden-phone rowtest"></div>
	<div class="span2 offset1 hidden-phone">
		<div Class="WorkLogo" id="prudential">
			<img src="/logos/prudential.png">
		</div>
	</div>
	<div class="span8 space"><p class="TopicTitle" id="WorkText"><p>"Love Me" Digital Billboard Webapp</p></div>
	<div class="span5">
		<p class="TopicDetail bottomtest">Product Design, Account Lead, Project Manager</p>
		<p>oncepted &amp; developed a Facebook app for users to create an image to say what “Love Me” meant to them by uploading an image into a template and adding their own text.  As users’ images were to be streamed on a digital billboard in Hollywood., CA,  custom emails were sent to each user, with the specific date &amp; time that their billboard would be live, as well as a link to a live video stream online for users to see their billboard.</p>
		<ul class="fa-ul">
    		<li><i class="fa-li fa fa-chevron-right"></i>Pitched and won the business</li>
    		<li><i class="fa-li fa fa-chevron-right"></i>Primary client contact, managed all cotnracts, budgets, and hours.</li>Worked directly with development team over the course of the entire project</li>
    		<li><i class="fa-li fa fa-chevron-right"></i>Concepted the entire digital experience</li>
    		<li><i class="fa-li fa fa-chevron-right"></i>Worked directly with Digital Out-of-Home (DOOH) media partners to get campaign working.</li>
    	</ul>
    </div>
    <div class="span3">
    	<p class="TopicDetail bottomtest">PROJECT DETAILS</p>
    	<ul class="fa-ul TopicDetail">
    		<li><i class="fa-li fa fa-briefcase"></i>Smashbox Cosmetics</li>
    		<li><i class="fa-li fa fa-tag"></i>Digital product developemnt, social integration, DOOH, Facebook apps</li>
    		<li><i class="fa-li fa fa-info"></i>Helath and Beauty</li>
    		<li><i class="fa-li fa fa-calendar"></i>January 2013-March 2013</li>
    		<li><i class="fa-li fa fa-dot-circle-o"></i>Women, 25-34, HHI: $55,000+, Heavy usage of digital, expressive</li>
    		<li><i class="fa-li fa fa-link"></i><a href="http://smashbox-loveme-bb.herokuapp.com/">Live Billboard creator</a></li>
    	</ul>
    </div>
</div>

<!-- Riunite Sweet -->

<div class="row space">
	<div class="span10 offset1 hidden-phone rowtest"></div>
	<div class="span2 offset1 hidden-phone">
		<div Class="WorkLogo" id="riunite">
			<img src="/logos/riunite.png">
		</div>
	</div>
	<div class="span8 space"><p class="TopicTitle" id="WorkText"><p>"Love Me" Digital Billboard Webapp</p></div>
	<div class="span5">
		<p class="TopicDetail bottomtest">Product Design, Account Lead, Project Manager</p>
		<p>oncepted &amp; developed a Facebook app for users to create an image to say what “Love Me” meant to them by uploading an image into a template and adding their own text.  As users’ images were to be streamed on a digital billboard in Hollywood., CA,  custom emails were sent to each user, with the specific date &amp; time that their billboard would be live, as well as a link to a live video stream online for users to see their billboard.</p>
		<ul class="fa-ul">
    		<li><i class="fa-li fa fa-chevron-right"></i>Pitched and won the business</li>
    		<li><i class="fa-li fa fa-chevron-right"></i>Primary client contact, managed all cotnracts, budgets, and hours.</li>Worked directly with development team over the course of the entire project</li>
    		<li><i class="fa-li fa fa-chevron-right"></i>Concepted the entire digital experience</li>
    		<li><i class="fa-li fa fa-chevron-right"></i>Worked directly with Digital Out-of-Home (DOOH) media partners to get campaign working.</li>
    	</ul>
    </div>
    <div class="span3">
    	<p class="TopicDetail bottomtest">PROJECT DETAILS</p>
    	<ul class="fa-ul TopicDetail">
    		<li><i class="fa-li fa fa-briefcase"></i>Smashbox Cosmetics</li>
    		<li><i class="fa-li fa fa-tag"></i>Digital product developemnt, social integration, DOOH, Facebook apps</li>
    		<li><i class="fa-li fa fa-info"></i>Helath and Beauty</li>
    		<li><i class="fa-li fa fa-calendar"></i>January 2013-March 2013</li>
    		<li><i class="fa-li fa fa-dot-circle-o"></i>Women, 25-34, HHI: $55,000+, Heavy usage of digital, expressive</li>
    		<li><i class="fa-li fa fa-link"></i><a href="http://smashbox-loveme-bb.herokuapp.com/">Live Billboard creator</a></li>
    	</ul>
    </div>
</div>


<div class="row space">
	<div class="span8 offset2">
		<div class="row">
			<div class="span2 hidden-phone">
				<div Class="WorkLogo" id="chiquita">
					<img src="/logos/chiquita.png">
				</div>
			</div>
			<div class="span6">
				<p class="TopicTitle" id="WorkText">chiquita healthy snacks digital campaign</p>
				<p class="TopicDetail">This project launched in June of 2011</p>
				<p>Launched the first digital ad campaign for Chiquita Apple Bites, with tactics including Facebook ads, display ads, Key Influencer Outreach, social media management, and crowdsourced video contest. In 2012, a Facebook game (Apple Trapper) was developed to incentivize repeat plays through increased coupon values.</p>
				<a href="http://www.chiquita.com/Products/Healthy-Snacks/Chiquita-Bites-and-Fruit-Chips-Store-Locator.aspx"><span class="SubjectLinks">Product Locator</span></a>
				<a href="http://chiquita-apples-game-fb.herokuapp.com/"><span class="SubjectLinks">Apple Trapper Game</span></a>
			</div>
		</div>
	</div>
</div>

<div class="row space">
	<div class="span8 offset2">
		<div class="row">
			<div class="span2 hidden-phone">
				<div Class="WorkLogo" id="chiquita">
					<img src="/logos/chiquita.png">
				</div>
			</div>
			<div class="span6">
				<p class="TopicTitle" id="WorkText">chiquita apple trapper game</p>
				<p class="TopicDetail">This project launched in June of 2011</p>
				<p>Launched the first digital ad campaign for Chiquita Apple Bites, with tactics including Facebook ads, display ads, Key Influencer Outreach, social media management, and crowdsourced video contest. In 2012, a Facebook game (Apple Trapper) was developed to incentivize repeat plays through increased coupon values.</p>
				<a href="http://www.chiquita.com/Products/Healthy-Snacks/Chiquita-Bites-and-Fruit-Chips-Store-Locator.aspx"><span class="SubjectLinks">Product Locator</span></a>
				<a href="http://chiquita-apples-game-fb.herokuapp.com/"><span class="SubjectLinks">Apple Trapper Game</span></a>
			</div>
		</div>
	</div>
</div>

<div class="row space">
	<div class="span8 offset2">
		<div class="row">
			<div class="span2 hidden-phone">
				<div Class="WorkLogo" id="prudential">
					<img src="/logos/prudential.png">
				</div>
			</div>
			<div class="span6">
				<p class="TopicTitle" id="WorkText">prudential retirement</p>
				<p class="TopicDetail">This project launch in March of 2013</p>
				<p>Developed digital sales materials for use on iPads to aid in new business pitches. Developed digital personas based on existing user types, then concepted, designed, &amp; developed their customer journeys.</p>
				<a href="http://prudential-map-maria.herokuapp.com/"><span class="SubjectLinks">Maria Experience</span></a>
				<a href="http://prudential-map-susan.herokuapp.com/"><span class="SubjectLinks">Susan Experience</span></a>
				<a href="http://prudential-map-stan.herokuapp.com/"><span class="SubjectLinks">Stan Experience</span></a>
			</div>
				
		</div>
	</div>
</div>

<div class="row space">
	<div class="span8 offset2">
		<div class="row">
			<div class="span2 hidden-phone">
				<div Class="WorkLogo" id="chiquita">
					<img src="/logos/chiquita.png">
				</div>
			</div>
			<div class="span6">
				<p class="TopicTitle" id="WorkText">chiquita avocados</p>
				<p class="TopicDetail">This project launched in September of 2011</p>
				<p>Developed an interactive Facebook game in which total Shares in a specific amount of time determined the value of a coupon. Gained over 20,000 Facebook fans in 2 months without any paid media support.</p>
				<!-- <a href="#"><span class="SubjectLinks">Creative</span></a>
				<a href="#"><span class="SubjectLinks">Strategy</span></a>
				<a href="#"><span class="SubjectLinks">Media</span></a> -->
			</div>
		</div>
	</div>
</div>

<div class="row space">
	<div class="span8 offset2">
		<div class="row">
			<div class="span2 hidden-phone">
				<div Class="WorkLogo" id="riunite">
					<img src="/logos/riunite.png">
				</div>
			</div>
			<div class="span6">
				<p class="TopicTitle" id="WorkText">riunite sweet wines</p>
				<p class="TopicDetail">This project launched in June of 2012</p>
				<p>Launched a bilingual digital campaign to support the new product launch. Tactics included social page (Facebook, Twitter, Pinterest, Spotify, YouTube) creation, social media management, display ads, Key Influencer Outreach, new website, and a variety of social contests aimed to increase brand awareness &amp; purchase.</p>
				<a href="http://riunite-sweet.herokuapp.com/en"><span class="SubjectLinks">Website</span></a>
				<a href="https://www.facebook.com/Riunite?ref=br_tf"><span class="SubjectLinks">Facebook</span></a>
				<a href="http://modea-addy-2012-campaigns.herokuapp.com/spotify.html"><span class="SubjectLinks">Spotify Radio Ad</span></a>
			</div>
		</div>
	</div>
</div>