#chiquita-logo-client {
	margin: auto;
	padding-top: 14%;
	padding-bottom: 14%;
	padding-right: 20%;
	padding-left: 20%;
	max-width: 250px;
	max-height: 250px;
}

.client-top {
	margin-bottom: 50px;
}

.detail {
	margin-bottom: 25px;
}

.box-client {

	background-color: #FF6F00;
	color: #FFFFFF;
	border: 5px solid #009D91;
	text-align: center;
	margin: auto;
	padding-top: 15%;
	padding-bottom: 15%;
	padding-right: 30%;
	padding-left: 30%;
	font-size: 2em;

}

.tester {
	background-color: #FF6F00;
	color: #FFFFFF;
	border: 5px solid #009D91;
	postions:relative;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	display: table; 
	margin: 10px auto 0; 
	padding: 10px 10px 10px 10px ;
}