.CTA {
	background-color: #FFFFFF;
	border: 2px solid #000000;
	font-family: 'Open Sans' , sans-serif; font-weight: 300;
	color: #000000;
	font-size: 20px;
}

#home:hover {
	background-color: #000000 ;
	border: 2px solid #FFFFFF ;
	color: #FFFFFF;
}

#work {
	background-color: #FF6666 ;
	border: 0px ;
}

#work:hover {
	background-color: #FF6666 ;
	border: 2px solid #FFFFFF ;
}

#play {
	background-color: #66CCFF ;
	border: 0px;
}

#play:hover {
	background-color: #66CCFF ;
	border: 2px solid #FFFFFF ;
}

#blog {
	background-color: #FFCC66 ;
	border: 0px 
}

#blog:hover {
	background-color: #FFCC66 ;
	border: 2px solid #FFFFFF ;
}