@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,600);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic);

body {
	font-family: 'Open Sans Condensed', sans-serif; font-weight: 300;
	font-weight: 300;
	font-size: 18px;
}

h1, h2 {
	font-family: 'Open Sans Condensed' , sans-serif; font-weight: 600;
	font-color: #000000;
	font-size: 30px;
}

h3 {
	font-family: 'Open Sans', sans-serif; font-weight: 300;
	color: #FF6666;
	font-size: 20px;
}

#WorkFill {
	background-color: #FF6666;
	color: #FFFFFF;
}

#WorkFill:hover {
	background-color: #000000;
}

#PlayFill {
	background-color: #66CCFF;
	color: #FFFFFF;
}

#PlayFill:hover {
	background-color: #000000;
}

#BlogFill {
	background-color: #FFCC66;
	color: #FFFFFF;
}

#BlogFill:hover {
	background-color: #000000;
}

#WorkText {
	color: #FF6666;
}

#PlayText {
	color: #66CCFF;
}

#BlogText {
	color: #FFCC66;
}

.PageTitle {
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif; font-weight: 600;
	margin-bottom: 30px;
}

.PageDetail {
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif; font-weight: 300;
	font-color: #000000;
	font-size: 18px;
}

.TopicTitle {
	font-weight: 600;
	text-transform: uppercase;
}

.TopicDetail {
	font-style: italic;
	font-size: 18px;
	color: #999999;
}

.SubjectLinks {
	font-family: 'Open Sans Condensed', sans-serif; font-weight: 300;
	font-size: 18px;
	padding-right: 25px;
}

a {
	font-color: #FF6666;
	text-decoration: none;
}

a:hover {
	font-color: #66CCFF;
	text-decoration: none;
}