.CTA {
	background-color: #FFFFFF;
	border: 1px solid #000000;
	font-family: 'Open Sans' , sans-serif; font-weight: 300;
	color: #000000;
	font-size: 20px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 8px;
}

.CTA:hover {
	background-color: #000000 ;
	color: #FFFFFF;
}

.HomeWork {
	background-color: #FF6666;
	text-align: center;
	padding: 100px 100px 100px 100px;
	color: #FFFFFF;
	font-family: 'Open Sans' , sans-serif; font-weight: 300;
	font-size: 24px;
}

.HomeWork:hover {
	background-color: #000000;
}

.HomePlay {
	background-color: #66CCFF;
	text-align: center;
	padding: 100px 100px 100px 100px;
	color: #FFFFFF;
	font-family: 'Open Sans' , sans-serif; font-weight: 300;
	font-size: 24px;
}

.HomePlay:hover {
	background-color: #000000;
}

.HomeBlog {
	background-color: #FFCC66;
	text-align: center;
	padding: 100px 100px 100px 100px;
	color: #FFFFFF;
	font-family: 'Open Sans' , sans-serif; font-weight: 300;
	font-size: 24px;
}

.HomeContact:hover {
	background-color: #000000;
}

.HomeContact {
	background-color: #ffffff;
	border: 1px solid #000000;
	text-align: center;
	padding: 100px 100px 100px 100px;
	color: #FFFFFF;
	font-family: 'Open Sans' , sans-serif; font-weight: 300;
	font-size: 24px;
}