.HomeBlock {
	font-family: 'Open Sans' , sans-serif; font-weight: 300;
	color: #000000;
	font-size: 20px;
	margin: auto;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0%;
	padding-left: 0%;	
}

#HomeWork {
	border: 2px solid #66CCFF ;
	background-color: #FF6666;
}

#homework:hover {
	background-color: #66CCFF;
	border: 0px ;
}

#Home-Play {
	background-color: #66CCFF ;
}

#home-play:hover {
	background-color: #FFCC66 ;
	border: 2px solid #000000;
}

#Home-Blog {
	background-color: #FFCC66 ;
}

#Home-Blog:hover {
	background-color: #66CCFF ;
	border: 2px solid #FFFFFF;
}