@import 'bootstrap';
@import 'bootstrap-responsive';

.HeaderTitle { 
	font-family: 'Open Sans Condensed' , sans-serif; font-weight: 300;
	font-size: 24px;
	text-align: center;
	color: #000000;
	border: 1px solid #000000;
	padding: 10px 0px 10px 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.HeaderTitle:hover {
	background-color: #000000;
	color: #ffffff;
}

.NavRow {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.NavItem {
	font-family: 'Open Sans Condensed' , sans-serif;
	font-size: 18px;
	color: #000000;
	text-align: center;
	margin: 0px 5px 0px 5px;
	text-decoration: none;
}

.NavItem:hover {
	background-color: #000000;
	color: #FFFFFF;
	text-decoration: none;
}

a span {
	font-size: 18px;
}

.NavWork {
	padding: 5px 20px 5px 20px;
}
     
.NavBlog {
	padding: 5px 22px 5px 22px;
}

.NavPlay {
	padding: 5px 25px 5px 25px;
}

#Work:hover {
	background-color: #FF6666;
}

#Play:hover {
	background-color: #66CCFF;
}

#Blog:hover {
	background-color: #FFCC66;
}

.footer {
	margin: 70px 0px 20px 0px;
	text-align: center;
}

.space {
	margin-top: 30px;
}