@import 'bootstrap';
@import 'bootstrap-responsive';

$btnPrimaryBackground: green;
/* This changed the background color of the main button.
The subject name to do this was found here: http://twitter.github.com/bootstrap/customize.html#plugins */

/* Color scheme http://colorschemedesigner.com/#0E21Tw0w0w0w0 */

$navbarBackgroundHighlight: #FF6F00;
$navbarBackground: #FF6F00;
$navbarText: #FFFFFF;
$navbarBrandColor: #FFFFFF;
$navbarLinkColor: #FFFFFF;
$navbarLinkColorHover: #FFFFFF;
$navbarLinkColorActive: #FFFFFF;
$navbarLinkBackgroundHover: #009D91;

body {
	padding-top: 60px;
}

.navbar-inner {
	@include box-shadow(green);
	/*@include box-shadow(none !important);*/
	border: 10;
	/* This removed the shadow underneath the navbar */
}

#hamburger-menu {
	height: 20px;
	width: 30px;
}

.btn-navbar {
	background-color: #009D91;
}