.PlayLogo {
	background-color: #66CCFF;
	padding-left: 20%;
	padding-right: 20%;
}

.PlayLogo img {
	display: block;
	margin: auto;
}

#nfl {
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 30%;
	padding-right: 30%;
}

#patriots {
	padding-top: 36px;
	padding-bottom: 37px;
}

#games {
	padding-top: 24px;
	padding-bottom: 24px;
}

#legos {
	padding-top: 50px;
	padding-bottom: 50px;
}

#travel {
	padding-top: 50px;
	padding-bottom: 50px;
}

#tech {
	padding-top: 50px;
	padding-bottom: 50px;
}