.PlayLogo {
	background-color: #66CCFF;
	padding-left: 20%;
	padding-right: 20%;
}

.PlayLogo img {
	display: block;
	margin: auto;
}

#nfl {
	padding-top: 50px;
	padding-bottom: 50px;
}

#patriots {
	padding-top: 50px;
	padding-bottom: 50px;
}

#games {
	padding-top: 50px;
	padding-bottom: 50px;
}

#legos {
	padding-top: 50px;
	padding-bottom: 50px;
}

#travel {
	padding-top: 50px;
	padding-bottom: 50px;
}

#tech {
	padding-top: 50px;
	padding-bottom: 50px;
}