/*You can change the font here. */

$baseFontFamily: 'Roboto Slab', serif;
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);

$btnPrimaryBackground: green;
/* This changed the background color of the main button.
The subject name to do this was found here: http://twitter.github.com/bootstrap/customize.html#plugins */

/* Color scheme http://colorschemedesigner.com/#0E21Tw0w0w0w0 */

$navbarBackgroundHighlight: #FF6F00;
$navbarBackground: #FF6F00;
$navbarText: #FFFFFF;
$navbarBrandColor: #FFFFFF;
$navbarLinkColor: #FFFFFF;
$navbarLinkColorHover: #FFFFFF;
$navbarLinkColorActive: #FFFFFF;
$navbarLinkBackgroundHover: #009D91;

$dropdownBackground: #FF6F00;
$dropdownLinkColor: #FFFFFF; 
$dropdownLinkColorHover: #FFFFFF;
$dropdownLinkBackgroundHover: #009D91;
$navbarLinkBackgroundActive: #009D91;

$textColor: #636363;

/* This changes the background color of the navbar */

@import 'bootstrap';

body {
	padding-top: 60px;
}

@import 'bootstrap-responsive';

.navbar-inner {
	@include box-shadow(green);
	/*@include box-shadow(none !important);*/
	border: 10;
	/* This removed the shadow underneath the navbar */
}

#test {
	background-color: #FF6F00;
	color: #FFFFFF;
	border: 5px solid #009D91;
	text-align: center;
	margin: auto;
	padding-top: 10%;
	padding-bottom: 10%;
	padding-right: 35%;
	padding-left: 35%;

}

#test:hover {
	background-color: #009D91;
	color: #FFFFFF;
	border: 5px solid #FF6F00;
	text-align: center;
	margin: auto;
	padding-top: 10%;
	padding-bottom: 10%;
	padding-right: 35%;
	padding-left: 35%;
}

.circle-logo {
	height: 70%;
	width: 70%;
	background-color: #FF6F00;
	color: #FFFFFF;
	border: 5px solid #009D91;
	border-radius: 100%;
	text-align: center;
	margin: auto;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0%;
	padding-left: 0%;	
}

#logo {
	padding-top: 45%;
	padding-bottom: 45%;
	font-size: 200%;
}

.footer {

	margin-top: 50px;
	padding-top: 10px;
	padding-bototm: 10px;
	color: #FFFFFF;
	background-color: #FF6F00;
	border: 5px solid #009D91;
	
	a{
		color: #FFFFFF;

		/* The above pushes the footer 50 px below the lowest remaining  text/ The colors are imported from SASS*/
	}
}

.footer-header {
	text-align: center;
}

.footer-text {
	
}

#footer-button {
	width: 100px;
	margin: auto;
	border: 5px solid #FFFFFF;
	padding-top: 8px;
	color: #FFFFFF;
	text-decoration: underline;
}