/*You can change the font here. */

$baseFontFamily: 'Noto Sans', sans-serif;
@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

$btnPrimaryBackground: green;
/* This changed the background color of the main button.
The subject name to do this was found here: http://twitter.github.com/bootstrap/customize.html#plugins */

$navbarBackgroundHighlight: #636363;
$navbarBackground: #636363;
$navbarText: #BEBEBE;
$navbarBrandColor: #BEBEBE;
$navbarLinkColor: #BEBEBE;
$navbarLinkColorHover: #FFFFFF;
$navbarLinkColorActive: #FFFFFF;

$dropdownBackground: #636363;
$dropdownLinkColor: #BEBEBE; 
$dropdownLinkColorHover: #FFFFFF;
$dropdownLinkBackgroundHover: #636363;

$textColor: #636363;

/* This changes the background color of the navbar */

@import 'bootstrap';

body {
	padding-top: 60px;
}

@import 'bootstrap-responsive';

.navbar-inner {
	@include box-shadow(green);
	/*@include box-shadow(none !important);*/
	border: 0;
	/* This removed the shadow underneath the navbar */
}

.footer {

	margin-top: 50px;
	color: #636363;
	a{
		color: #BEBEBE;

		/* The above pushes the footer 50 px below the lowest remaining  text/ The colors are imported from SASS*/
	}
}