.WorkHeight {
	padding: 5px 0 5px 0;
}

.WorkLogo {
	background-color: #FF6666;
}

	#aveda {
		padding: 5% 35% 5% 35%;
	}

	#verizon {
		padding: 5% 35% 5% 35%;
	}

	#verizontest {
		padding: 5% 30% 5% 30%;
	}

	#smashbox {
		padding: 5% 35% 5% 35%;
	}

	#chiquita {
		padding: 5% 40% 5% 40%;
	}

	#prudential {
		padding: 5% 35% 5% 35%;
	}

	#riunite {
		padding: 5% 35% 5% 35%;
	}

.fa-li {
	color: #ff6666;
	padding: 0px 10px 4px 0px;
}

.fa-test {
	padding: 13px 0px 13px 0px;
	color: #000000;
}

.rowtest {
	border-bottom: 2px solid #ff6666;
}

.rowtest2 {
	background-color: #66CCFF;
	/*padding: 20px 0 20px 0;*/
	/*border: 1px solid #FF6666;*/
}

.ProjectDetail {
	margin-top: 30px;
}