.WorkLogo {
	background-color: #FF6666;
	padding-left: 20%;
	padding-right: 20%;
}

.WorkLogo img {
	display: block;
	margin: auto;
}

#aveda {
	padding-top: 50px;
	padding-bottom: 50px;
}

#verizon {
	padding-top: 50px;
	padding-bottom: 50px;
}

#smashbox {
	padding-top: 50px;
	padding-bottom: 50px;
}

#chs {
	padding-top: 50px;
	padding-bottom: 50px;
}

#prudential {
	padding-top: 50px;
	padding-bottom: 50px;
}

#avocados {
	padding-top: 50px;
	padding-bottom: 50px;
}