.WorkLogo {
	background-color: #FF6666;
	padding-left: 20%;
	padding-right: 20%;
}

.WorkLogo img {
	display: block;
	margin: auto;
}

#aveda {
	padding-top: 49px;
	padding-bottom: 49px;
}

#verizon {
	padding-top: 41px;
	padding-bottom: 41px;
}

#smashbox {
	padding-top: 45px;
	padding-bottom: 45px;
}

#chiquita {
	padding-top: 17px;
	padding-bottom: 17px;
	padding-left: 30%;
	padding-right: 30%;
}

#prudential {
	padding-top: 21px;
	padding-bottom: 21px;
}