<div class="footer">
	<!-- <img src="/Footer.png" style="width: 120%; height:40px;"> -->
	<center>
		<small>
			<%= link_to "One Month Rails", "http://onemonthrails.com"%> by Brian Bimschleger
		</small>
	</center>
</div>