e<div class="footer">
	<!-- <img src="/Footer.png" style="width: 120%; height:40px;"> -->
	<h2 class="footer-header">Brian Bimschleger</h2>
	<p class="footer-text" style="text-align: center;">
		bimschleger@gmail.com<br>Blacksburg, VA
	</p>
	<a href="#" class="scrollup" style="display: inline;">
		<div id="footer-button">
			<p id-"footer-button" style="text-align: center;"> Go to top.</p>
		</div>
	</a>
</div>