
<!-- CTA Bar -->

<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
				<div class="col-xs-3 col-sm-3 CTA-row"><a href="http://www.twitter.com/bimschleger"><i class="fa fa-twitter fa-lg cta cta-twitter"></i></a></div>
				<div class="col-xs-3 col-sm-3 CTA-row"><a href="http://www.linkedin.com/in/brianbimschleger"><i class="fa fa-linkedin fa-lg cta cta-linkedin"></i></a></div>
					<!-- <div class="clearfix visible-xs"></div> -->
				<div class="col-xs-3 col-sm-3 CTA-row"><a href="mailto:brian@bimschleger.com?subject=I saw your site, and I'd like to chat"><i class="fa fa-envelope fa-lg cta cta-envelope"></i></a></div>
				<div class="col-xs-3 col-sm-3 CTA-row"><a href="#"><i class="fa fa-arrow-up fa-lg cta cta-twitter"></i></a></div>
			</div> <!-- CTA group -->
		</div> <!-- Row -->
		<div class="row">
			<div class="col-sm-6 col-lg-4"><a href="#">Verizon Wireless</a></div>
			<div class="col-sm-6 col-lg-4"><a href="#">Smashbox Cosmetics</a></div>
			<div class="col-sm-6 col-lg-4"><a href="#">Aveda</a></div>
			<div class="col-sm-6 col-lg-4"><a href="#">Prudential Retirement</a></div>
			<div class="col-sm-6 col-lg-4"><a href="/chiquita">Chiquita Apple Trapper</a></div>
			<div class="col-sm-6 col-lg-4"><a href="#">Chiquita Healthy Snacks</a></div>
		</div> <!-- Row -->
	</div> <!-- Container --> 
</div> <!-- Background color -->