<div class="row footer">
	<div class="TopicDetail">
		<p style="text-align:center;">Whoa...you made it all the way to the bottom? You should totally click one of the below actions:</p>
	</div>
</div>
<div class="row">
    <div class="span8 offset2 NavRow">
      <a href="/work" class="NavItem NavWork" id="WorkFill"><span>WORK</span></a>
      <a href="/play" class="NavItem NavPlay" id="PlayFill"><span>PLAY</span></a>
      <a href="http://blog.bimschleger.com" class="NavItem NavBlog" id="BlogFill"><span>BLOG</span></a>
  </div>
</div>
<div class="row">
	<div class="span8 offset2 CTA-row">
		<a href="#"><i class="fa fa-arrow-up fa-lg cta cta-arrow-up"></i></a>
		<a href="http://www.twitter.com/bimschleger"><i class="fa fa-twitter fa-lg cta cta-twitter"></i></a>
		<a href="http://www.linkedin.com/in/brianbimschleger"><i class="fa fa-linkedin fa-lg cta cta-linkedin"></i></a>
		<a href="mailto:brian@bimschleger.com?subject=I saw your site, and I'd like to chat"><i class="fa fa-envelope fa-lg cta cta-envelope"></i></a>
	</div>
</div>