<div class="row footer">
	<div class="span6 offset3 TopicDetail">
		<p>Whoa...you made it all the way to the bottom? You should totally click one of the below actions:</p>
	</div>
</div>
<div class="row">
    <div class="span8 offset2 NavRow">
      <a href="/work" class="NavItem" id="WorkFill"><span>WORK</span></a>
      <a href="/play" class="NavItem" id="PlayFill"><span>PLAY</span></a>
      <a href="http://blog.bimschleger.com" class="NavItem" id="BlogFill"><span>BLOG</span></a>
  </div>
</div>
<div class="row">
	<a href="mailto:brian@bimschelger.com">
		<div class="span4 offset4 CTA">
			<p>Get in touch</p>
		</div>
	</a>
</div>
<div class="row" style="padding-top: 10px;">
	<a href="/resume">
		<div class="span4 offset4 CTA">
			<p>Check out my resum&eacute;</p>
		</div>
	</a>
</div>
<div class="row" style="padding-top: 10px; padding-bottom:50px;">
	<a href="#">
		<div class="span4 offset4 CTA">
			<p>Go back to the top</p>
		</div>
	</a>
</div>