e<div class="footer">
	<p class="footer-text" style="text-align: center; display: inline-block;">
		Brian Bimschleger - bimschleger@gmail.com - Blacksburg, VA
	</p>
	<a href="#" class="scrollup" style="display: inline-block;">
		<div id="footer-button">
			<p id-"footer-button" class="pull-right;" style="text-align: center;"> Go to top.</p>
		</div>
	</a>
</div>