<div class="row-fluid footer">
	<div class="span4 footer-text">Brian Bimschleger</div>
	<div class="span4 footer-text" style="border: 2px solid #000000;">
		<p style="margin: 0% 30% 0% 30%;">brian@bimschleger.com</p>
	</div>
</div>