<div class="row-fluid footer">
	<div class="span4 footer-text">Brian Bimschleger</div>
	<div class="span4 footer-text">bimschleger@gmail.com</div>
	<div class="span4 footer-text">Blacksburg, VA</div>
</div>